/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  /*.container {max-width:540px}*/
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  /*.container {max-width:720px}*/
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
body * {
  font-family: "Montserrat";
  color: #fff;
}

body {
  background-color: #15151B;
  background-size: 100%;
  background-repeat: no-repeat;
}

.img__contain, .img__cover {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}
.img__contain {
  -o-object-fit: contain;
     object-fit: contain;
}
.img__cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.main > section {
  margin-bottom: 100px;
}

.header {
  height: 76px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px 0 65px;
  z-index: 100;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: -1;
  transition: 500ms ease-in-out;
}
.header .logo {
  display: inline-block;
}

@media (max-width: 768px) {
  .header[data-active]::after {
    height: 100vh;
    transition: 500ms ease-in-out;
  }
}
.menu-top {
  display: inline-block;
}
.menu-top__list {
  display: table;
}
.menu-top__item {
  display: table-cell;
}
.menu-top__link {
  color: #fff;
  margin-left: 145px;
}

@media (max-width: 1400px) {
  .menu-top__link {
    margin-left: 100px;
  }
}
@media (max-width: 992px) {
  .menu-top__link {
    margin-left: 75px;
  }
}
@media (max-width: 768px) {
  .menu-top {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: 500ms ease-in-out;
    margin-top: 76px;
  }
  .menu-top[data-active] {
    display: block;
    left: 0;
    transition: 500ms ease-in-out;
  }
  .menu-top__list {
    display: block;
  }
  .menu-top__item {
    text-align: left;
    display: block;
  }
  .menu-top__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .menu-top__link {
    display: block;
    font-size: 24px;
    margin-left: 65px;
  }
}
.burger {
  display: none;
}

@media (max-width: 768px) {
  .burger {
    display: block;
    position: fixed;
    right: 50px;
    top: 28px;
    width: 30px;
    height: 20px;
  }
  .burger > span {
    background-color: #fff;
    position: absolute;
    right: 0;
    width: 90%;
    height: 2px;
    top: 9px;
  }
  .burger::before, .burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    right: 0;
    height: 2px;
  }
  .burger::before {
    top: 0;
    width: 80%;
  }
  .burger::after {
    bottom: 0;
    width: 100%;
  }
  .burger > span, .burger::before, .burger::after {
    transition: 500ms ease-in-out;
  }
  .burger[data-active] > span {
    transform: translateX(-30px);
    width: 0%;
  }
  .burger[data-active]::before {
    transform: rotate(225deg);
    top: 9px;
    width: 100%;
  }
  .burger[data-active]::after {
    transform: rotate(-225deg);
    bottom: 9px;
    width: 100%;
  }
}
.slider__item {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider__description {
  margin-top: 45px;
}
.slider__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.mda-animate {
  position: relative;
  width: 217px;
  height: 72px;
}
@-webkit-keyframes anaglyph {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 5px;
    top: 5px;
  }
  50% {
    left: 0;
    top: 0;
  }
  75% {
    left: -5px;
    top: -5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes anaglyph {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 5px;
    top: 5px;
  }
  50% {
    left: 0;
    top: 0;
  }
  75% {
    left: -5px;
    top: -5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
.mda-animate__w {
  z-index: 1;
}
.mda-animate__r {
  z-index: -1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.mda-animate__b {
  z-index: -1;
  animation-direction: alternate-reverse;
}
.mda-animate__r, .mda-animate__b {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-name: anaglyph;
          animation-name: anaglyph;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: steps(2, end);
          animation-timing-function: steps(2, end);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.sections__body {
  display: grid;
  gap: 75px;
  grid-template-columns: 1fr 1fr;
}
.sections__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.sections__link {
  display: block;
  border: 2px solid rgba(0, 133, 255, 0.44);
  padding: 55px;
  font-size: 36px;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  .sections__list {
    gap: 25px;
  }
  .sections__link {
    padding: 30px;
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .sections__body {
    grid-template-columns: 1fr;
  }
  .sections__img {
    display: none;
  }
  .sections__link {
    text-align: center;
  }
}
.popular__title {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 80px;
  font-size: 40px;
}
.popular__title::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 200px;
  height: 1px;
  left: -220px;
  top: 50%;
}
.popular__list {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 500px;
}
.popular__item {
  position: relative;
  border: 2px solid rgba(0, 133, 255, 0.44);
}
.popular__name {
  opacity: 0;
  text-align: center;
  padding: 15px;
  transition: 250ms ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.popular__item:hover .popular__name {
  opacity: 1;
  transition: 250ms ease-in-out;
}
@media (max-width: 768px) {
  .popular__title {
    font-size: 30px;
  }
}