.header {
    height: 76px;
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 0 15px 0 65px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $header_color;
        backdrop-filter: blur(20px);
        z-index: -1;
    }

    .logo {
        display: inline-block;
    }
}