.slider {

    &__list {

    }

    &__item {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__description {
        text-align: center;
        margin-top: 45px;
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.3;
    }
}
