<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MDA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body style="background-image: url('../img/ef.png'), url('../img/prop.png');">

    <div class="mda-bg"></div>

    <div class="content">

        <header class="header" data-header>
            <div class="header__body">
            
                <a href="/" class="logo">
                    <img class="logo__file" src="img/logo_header.png" alt="Logo">
                </a>
                <nav class="menu-top" data-menu-top>
                    <div class="menu-top__list">
                        <div class="menu-top__item"><a href="#" class="menu-top__link">О нас</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Вакансии</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Новости</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Контакты</a></div>
                    </div>
                </nav>
                <div class="burger" data-menu-burger><span></span></div>

            </div>
        </header>

        <div class="main">

            <div class="title">
                <div class="container">
                    <h1 class="title__text">Контакты</h1>
                <div class="breadcrumbs">
                    <div class="breadcrumbs__list">

                        <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Каталог</span></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Электронки</span></div>

                    </div>
                </div>
                </div>
                
            </div>

            <div class="container">

                <div class="advantage">
                    <div class="advantage__body">
                        <div class="advantage__list">

                            <div class="advantage__item">
                                <div class="advantage__icon">
                                    <i class="fa fa-image"></i>
                                </div>
                                <div class="advantage__name">Преймущество</div>
                            </div>

                            <div class="advantage__item">
                                <div class="advantage__icon">
                                    <img src="img/logo.png" alt="">
                                </div>
                                <div class="advantage__name">Преймущество</div>
                            </div>

                            <div class="advantage__item">
                                <div class="advantage__icon">
                                    <i class="fa fa-image"></i>
                                </div>
                                <div class="advantage__name">Преймущество</div>
                            </div>

                            <div class="advantage__item">
                                <div class="advantage__icon">
                                    <i class="fa fa-image"></i>
                                </div>
                                <div class="advantage__name">Преймущество</div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="about">
                    <div class="about__body">

                        <h2 class="about__title">Наша команда</h2>

                        <div class="about__info">

                            <div class="about__text">
                                <p>Медуза — магазин табака и электронных сигарет.</p>
                                <p>У нас ты найдешь самые актуальные и интересные новинки кальянной индустрии.</p>
                            </div>

                            <div class="about__img">
                                <img src="img/element.jpeg" alt="">
                            </div>
                            
                        </div>

                    </div>
                </div>

                <div class="vacansy">
                    <div class="vacansy__body">

                        <h2 class="vacansy__title">Вакансии</h2>
                        
                        <div class="vacansy__list">

                            <div class="vacansy__item">

                                <div class="vacansy__item-title">Вакансия 1</div>

                                <div class="vacansy__item-text">
                                    <span>Описание: </span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                                    </p>
                                </div>

                                <div class="vacansy__item-text">
                                    <span>Требования: </span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                </div>
                                
                                <div class="vacansy__item-footer">
                                    <div class="vacansy__item-terms">
                                        <div class="vacansy__item-time">График работы с 10:00 до 18:00</div>
                                        <div class="vacansy__item-pay">Зарплата от 20.000 руб.</div>
                                    </div>

                                    <a href="#" class="vacansy__item-button">Откликнутся</a>
                                    
                                </div>
                                
                            </div>

                            <div class="vacansy__item">

                                <div class="vacansy__item-title">Вакансия 2</div>

                                <div class="vacansy__item-text">
                                    <span>Описание: </span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                                    </p>
                                </div>

                                <div class="vacansy__item-text">
                                    <span>Требования: </span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                </div>
                                
                                <div class="vacansy__item-footer">
                                    <div class="vacansy__item-terms">
                                        <div class="vacansy__item-time">График работы с 10:00 до 18:00</div>
                                        <div class="vacansy__item-pay">Зарплата от 20.000 руб.</div>
                                    </div>

                                    <a href="#" class="vacansy__item-button">Откликнутся</a>
                                    
                                </div>
                                
                            </div>
                            
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            
            <div class="phone"><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
            <div class="menu-bottom">
                <div class="menu-bottom__list">

                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>

                </div>
            </div>

            <div class="logo"><img class="img__contain" src="img/mda_w.png" alt=""></div>
        </div>
    </footer>

</body>
</html>