<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MDA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body style="background-image: url('../img/ef.png'), url('../img/prop.png');">

    <div class="content">

        <header class="header" data-header>
            <a href="/" class="logo">
                <img class="logo__file" src="img/logo_header.png" alt="Logo">
            </a>
            <nav class="menu-top" data-menu-top>
                <div class="menu-top__list">
                    <div class="menu-top__item"><a href="#" class="menu-top__link">О нас</a></div>
                    <div class="menu-top__item"><a href="#" class="menu-top__link">Вакансии</a></div>
                    <div class="menu-top__item"><a href="#" class="menu-top__link">Новости</a></div>
                    <div class="menu-top__item"><a href="#" class="menu-top__link">Контакты</a></div>
                </div>
            </nav>
            <div class="burger" data-menu-burger><span></span></div>
        </header>

        <div class="main">

            <div class="title">
                <div class="container">
                    <h1 class="title__text">Контакты</h1>
                <div class="breadcrumbs">
                    <div class="breadcrumbs__list">

                        <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Каталог</span></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Электронки</span></div>

                    </div>
                </div>
                </div>
                
            </div>

            <div class="contacts">
                <div class="container">
                    <div class="contacts__body">
                        <div class="contacts__list">

                            <div class="contacts__item">

                                <div class="contacts__item-info">
                                    <div class="contacts__item-name"><h2>Ю-сити</h2></div>
                                    <div class="contacts__item-phone"><i class="fa fa-phone"></i><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
                                    <div class="contacts__item-whatsapp"><i class="fa fa-whatsapp"></i><a href="https://wa.me/79142187409">+7 (914) 218-74-09</a></div>
                                    <div class="contacts__item-address"><span>Адрес: </span><address>ул. 65-летия Победы, 1/4, Хабаровск, Хабаровский край, 680007</address></div>
                                    <div class="contacts__item-time">Режим работы: с <span>10:00</span> до <span>23:00</span></div>
                                    <div class="contacts__item-time">Режим работы: <span>Круглосуточно</span></div>
                                </div>

                                <div class="contacts__map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2647.298486926878!2d135.10282861565926!3d48.43161077924798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfa4a4c8e11731546!2zNDjCsDI1JzUzLjgiTiAxMzXCsDA2JzE4LjEiRQ!5e0!3m2!1sru!2sru!4v1662132550227!5m2!1sru!2sru" width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                                
                            </div>

                            <div class="contacts__item">

                                <div class="contacts__item-info">
                                    <div class="contacts__item-name"><h2>Ю-сити</h2></div>
                                    <div class="contacts__item-phone"><i class="fa fa-phone"></i><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
                                    <div class="contacts__item-whatsapp"><i class="fa fa-whatsapp"></i><a href="https://wa.me/79142187409">+7 (914) 218-74-09</a></div>
                                    <div class="contacts__item-address"><span>Адрес: </span><address>ул. 65-летия Победы, 1/4, Хабаровск, Хабаровский край, 680007</address></div>
                                    <div class="contacts__item-time">Режим работы: с <span>10:00</span> до <span>23:00</span></div>
                                    <div class="contacts__item-time">Режим работы: <span>Круглосуточно</span></div>
                                </div>

                                <div class="contacts__map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2647.298486926878!2d135.10282861565926!3d48.43161077924798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfa4a4c8e11731546!2zNDjCsDI1JzUzLjgiTiAxMzXCsDA2JzE4LjEiRQ!5e0!3m2!1sru!2sru!4v1662132550227!5m2!1sru!2sru" width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                                
                            </div>

                            <div class="contacts__item">

                                <div class="contacts__item-info">
                                    <div class="contacts__item-name"><h2>Ю-сити</h2></div>
                                    <div class="contacts__item-phone"><i class="fa fa-phone"></i><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
                                    <div class="contacts__item-whatsapp"><i class="fa fa-whatsapp"></i><a href="https://wa.me/79142187409">+7 (914) 218-74-09</a></div>
                                    <div class="contacts__item-address"><span>Адрес: </span><address>ул. 65-летия Победы, 1/4, Хабаровск, Хабаровский край, 680007</address></div>
                                    <div class="contacts__item-time">Режим работы: с <span>10:00</span> до <span>23:00</span></div>
                                    <div class="contacts__item-time">Режим работы: <span>Круглосуточно</span></div>
                                </div>

                                <div class="contacts__map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2647.298486926878!2d135.10282861565926!3d48.43161077924798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfa4a4c8e11731546!2zNDjCsDI1JzUzLjgiTiAxMzXCsDA2JzE4LjEiRQ!5e0!3m2!1sru!2sru!4v1662132550227!5m2!1sru!2sru" width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

    <footer class="footer">
        <div class="container">
            
            <div class="phone"><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
            <div class="menu-bottom">
                <div class="menu-bottom__list">

                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>

                </div>
            </div>

            <div class="logo"><img class="img__contain" src="img/mda_w.png" alt=""></div>
        </div>
    </footer>
</body>
</html>