<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MDA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body style="background-image: url('../img/ef.png'), url('../img/prop.png');">

    <div class="content">

        <header class="header" data-header>
            <a href="/" class="logo">
                <img class="logo__file" src="img/logo_header.png" alt="Logo">
            </a>
            <nav class="menu-top" data-menu-top>
                <div class="menu-top__list">
                    <div class="menu-top__item"><a href="#" class="menu-top__link">О нас</a></div>
                    <div class="menu-top__item"><a href="#" class="menu-top__link">Вакансии</a></div>
                    <div class="menu-top__item"><a href="#" class="menu-top__link">Новости</a></div>
                    <div class="menu-top__item"><a href="#" class="menu-top__link">Контакты</a></div>
                </div>
            </nav>
            <div class="burger" data-menu-burger><span></span></div>
        </header>

        <div class="main">

            <div class="title">
                <div class="container">
                    <h1 class="title__text">Электронки</h1>
                <div class="breadcrumbs">
                    <div class="breadcrumbs__list">

                        <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Каталог</span></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Электронки</span></div>

                    </div>
                </div>
                </div>
                
            </div>

            <!-- <div class="popup-window popup-window-with-titlebar bx-blue" id="CatalogElementBasket_bx_117848907_40" style="display: block; position: absolute; left: 821.5px; top: 682.5px; z-index: 1050 !important;">
                <div class="popup-window-titlebar" id="popup-window-titlebar-CatalogElementBasket_bx_117848907_40">
                    <span class="popup-window-titlebar-text">Товар добавлен в корзину</span>
                </div>
                <div id="popup-window-content-CatalogElementBasket_bx_117848907_40" class="popup-window-content" style="background-color: white;">
                    <div style="width: 100%; margin: 0; text-align: center;">
                        <img src="/upload/iblock/388/bkgokc2f5o8eiz486uhk2liyoqkd1ur0.png" height="130" style="max-height:130px">
                        <p>Жижка</p>
                    </div>
                </div>
                <span class="popup-window-close-icon popup-window-titlebar-close-icon"></span>
                <div class="popup-window-buttons">
                    <span class="popup__button" id="">Перейти в корзину</span>
                </div>
            </div> -->



            <div class="element">
                <div class="container">
                    <div class="element__body">
                        <div class="element__img">
                            <img class="img__cover" src="img/element.jpeg" alt="">
                        </div>
                        <div class="element__info">
                            <div class="element__description">
                               <div class="element__description-title">Описание</div>
                               <div class="element__description-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                               </div>
                            </div>
                            <div class="element__properties">
                                <div class="element__properties-title">Торговые предложения</div>
                                <div class="element__properties-sky">

                                    <div class="element__properties-sky-element">
                                        <div class="element__properties-sky-title">Цвет:</div>
                                        <ul class="element__properties-sky-list">
                                            <li class="element__properties-sky-item selected">Синий</li>
                                            <li class="element__properties-sky-item">Красный</li>
                                        </ul>
                                    </div>

                                    <div class="element__properties-sky-element">
                                        <div class="element__properties-sky-title">Картинка:</div>
                                        <ul class="element__properties-sky-list">
                                            <li class="element__properties-sky-item selected">
                                                <div class="element__properties-sky-item-img" style="background-image: url(img/logo.png);"></div>
                                            </li>
                                            <li class="element__properties-sky-item">
                                                <div class="element__properties-sky-item-img" style="background-image: url(img/logo_header.png);"></div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="element__properties">
                                <div class="element__properties-title">Характеристики</div>
                                <ul class="element__properties-list">
                                    <li class="element__properties-item">
                                        <div class="element__properties-name">Цвет:</div>
                                        <div class="element__properties-value">Оранжевый</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="element__buy-container">
                                
                                <div class="element__price">
                                    <div class="element__price-old"><span>1000 ₽</span></div>
                                    <div class="element__price-now">900 ₽</div>
                                    <div class="element__price-discount">Скидка 100 ₽</div>
                                </div>

                                <div class="quantity" data-entity="quantity-block">
                                    <span class="quantity__button minus disabled"></span>
                                    <input class="quantity__input" type="number" value="1">
                                    <span class="quantity__button plus "></span>
                                    <span class="quantity__result">
                                        <span>шт</span>
                                        <span>на сумму <strong>2&nbsp;000 ₽</strong></span>
                                    </span>
                                </div>

                                <a href="" class="element__buy-button">В корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

    <footer class="footer">
        <div class="container">

            <div class="phone"><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
            
            <div class="menu-bottom">
                <div class="menu-bottom__list">

                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>

                </div>
            </div>

            <div class="logo"><img class="img__contain" src="img/mda_w.png" alt=""></div>
        </div>
    </footer>
</body>
</html>