<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MDA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body style="background-image: url('../img/ef.png'), url('../img/prop.png');">

    <div class="content">

        <header class="header" data-header>
            <a href="/" class="logo">
                <img class="logo__file" src="img/logo_header.png" alt="Logo">
            </a>
            <nav class="menu-top" data-menu-top>
                <div class="menu-top__list">
                    <div class="menu-top__item"><a href="#" class="menu-top__link">О нас</a></div>
                    <div class="menu-top__item"><a href="#" class="menu-top__link">Вакансии</a></div>
                    <div class="menu-top__item"><a href="#" class="menu-top__link">Новости</a></div>
                    <div class="menu-top__item"><a href="#" class="menu-top__link">Контакты</a></div>
                </div>
            </nav>
            <div class="burger" data-menu-burger><span></span></div>
        </header>

        <div class="main">

            <div class="title">
                <div class="container">
                    <h1 class="title__text">Контакты</h1>
                <div class="breadcrumbs">
                    <div class="breadcrumbs__list">

                        <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Каталог</span></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Электронки</span></div>

                    </div>
                </div>
                </div>
                
            </div>

            <div class="container">

                <div class="form">
                    <div class="form__body">
                        <form class="form__form">
    
                            <div class="form__title">Присоединяйся к нашей команде</div>
    
                            <div class="form__list">
    
                                <div class="form__item">
                                    <div class="form__error">
                                        <p>Неверный логин или пароль</p>
                                    </div>
                                </div>

                                <div class="form__item">
                                    <div class="form__success">
                                        <p>Информация сохранена</p>
                                    </div>
                                </div>
    
                                <div class="form__item">
                                    <input class="form__input" placeholder="Имя" type="text" value="">
                                </div>
    
                                <div class="form__item">
                                    <input class="form__input" placeholder="Email" type="text" value="">
                                </div>
    
                                <div class="form__item">
                                    <input class="form__input" placeholder="Телефон" type="text" value="">
                                </div>
    
                                <div class="form__item">
                                    <div style="width: 180px; height: 40px; background-color: #fff;"></div>
                                </div>
    
                                <div class="form__item">
                                    <input class="form__input" placeholder="Код с картинки" type="text" value="">
                                </div>

                                <div class="form__item">
                                    <div class="form__small">Пароль должен быть не менее 6 символов длиной.</div>
                                </div>
    
                                <div class="form__item">
                                    <input class="form__button" type="submit" value="Отправить">
                                </div>
    
                                <div class="form__item">
                                    <a href="#" class="form__link">Забыли пароль?</a>
                                </div>
                                
                            </div>
                            
                            
                        </form>
                        
                    </div>
                    
                </div>

            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            
            <div class="phone"><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
            <div class="menu-bottom">
                <div class="menu-bottom__list">

                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>

                </div>
            </div>

            <div class="logo"><img class="img__contain" src="img/mda_w.png" alt=""></div>
        </div>
    </footer>
</body>
</html>