<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MDA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body style="background-image: url('../img/ef.png'), url('../img/prop.png');">

    <div class="content">

        <header class="header" data-header>
            <div class="header__body">
                <div class="header__body-top">
                    <div class="container">
                        <div class="multishop" style="color: #fff;">
                            <div class="multishop__body">
                                <span class="multishop__select" data-multishop-select>
                                    <i class="fa fa-shopping-basket"></i>
                                    Флега
                                </span>
                                <div class="multishop__popup" data-multishop-select>
                                    <ul class="multishop__list" data-multishop-shops>
                                        <li class="multishop__item" data-multishop-shops-item="123">Флега</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Кубяка</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Ю-сити</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Кодак</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Переясловка Октябрьская 80а</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Флега</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Кубяка</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Ю-сити</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Кодак</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Флега</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Кубяка</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Ю-сити</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Кодак</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Переясловка Октябрьская 80а</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Флега</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Кубяка</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Ю-сити</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Кодак</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Ю-сити</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Кодак</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Переясловка Октябрьская 80а</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Флега</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Кубяка</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Ю-сити</li>
                                        <li class="multishop__item" data-multishop-shops-item="123">Кодак</li>
                                    </ul>
                                </div>
                                <div class="multishop__popup" data-multishop-popup-hide>
                                    <div class="multishop__popup-title">Ваш магазин: <span>Флега</span></div>
                                    <div class="multishop__popup-buttons">
                                        <div class="multishop__popup-buttons-yes" data-multishop-popup-yes>Да</div>
                                        <div class="multishop__popup-buttons-no" data-multishop-popup-no>Сменить магазин</div>
                                    </div>
                                    <div class="multishop__popup-description">
                                        Выбор магазина необходим для правильного отображения ассортимента.
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="header__body-down">
                    <a href="/" class="logo">
                        <img class="logo__file" src="img/logo_header.png" alt="Logo">
                    </a>
                    <nav class="menu-top" data-menu-top>
                        <div class="menu-top__list">
                            <div class="menu-top__item"><a href="#" class="menu-top__item-link">Каталог</a></div>
                            <div class="menu-top__item"><a href="#" class="menu-top__item-link">Акции</a></div>
                            <div class="menu-top__item"><a href="#" class="menu-top__item-link">О нас</a></div>
                            <div class="menu-top__item"><a href="#" class="menu-top__item-link">Новости</a></div>
                            <div class="menu-top__item"><a href="#" class="menu-top__item-link">Контакты</a></div>
                        </div>
                    </nav>
                    <div class="burger" data-menu-burger><span></span></div>
                </div>
            </div>
        </header>

        <div class="main">

            <section class="slider">
                <div class="slider__list">
                    <div class="slider__item">
                        <div class="mda-animate" data-audio>
                            <img class="mda-animate__w" src="img/mda_w.png" alt="">
                            <img class="mda-animate__r" src="img/mda_r.png" alt="">
                            <img class="mda-animate__b" src="img/mda_b.png" alt="">
                        </div>
                        <div class="slider__description">Сеть магазинов кальянной индустрии</div>
                        <img class="slider__img img__contain" src="img/slider.png" alt="">
                    </div>
                </div>
            </section>

            <section class="sections-main">
                <div class="container">
                    <div class="sections-main__body">
                        <div class="sections-main__list">
                            <div class="sections-main__item">
                                <a class="sections-main__link" href="#">Электроники</a>
                            </div>
                            <div class="sections-main__item">
                                <a class="sections-main__link" href="#">Табаки</a>
                            </div>
                        </div>
                        <div class="sections-main__img">
                            <img class="img__contain" src="img/baba1.png" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="popular">
                <div class="container">
                    <h2 class="popular__title main__title">Популярное</h2>
                    <div class="popular__body">
                        <div class="popular__list">

                            <div class="popular__item">
                                <a href="#" class="popular__link">
                                    <img src="img/element.jpeg" alt="" class="popular__img img__cover">
                                    <div class="popular__name">Glitch Sauce Salt Bleach</div>
                                </a>
                            </div>

                            <div class="popular__item">
                                <a href="#" class="popular__link">
                                    <img src="img/element.jpeg" alt="" class="popular__img img__cover">
                                    <div class="popular__name">Glitch Sauce Salt Bleach</div>
                                </a>
                            </div>

                            <div class="popular__item">
                                <a href="#" class="popular__link">
                                    <img src="img/element.jpeg" alt="" class="popular__img img__cover">
                                    <div class="popular__name">Glitch Sauce Salt Bleach</div>
                                </a>
                            </div>

                            <div class="popular__item">
                                <a href="#" class="popular__link">
                                    <img src="img/element.jpeg" alt="" class="popular__img img__cover">
                                    <div class="popular__name">Glitch Sauce Salt Bleach</div>
                                </a>
                            </div>

                        </div>
                        <div class="popular__right">
                            <img src="img/baba2.png" alt="" class="img__cover">
                        </div>
                    </div>
                </div>
            </section>

            <section class="news">
                <div class="container">
                    <h2 class="news__title main__title">Новости</h2>
                    <div class="news__body">
                        <div class="news__list">

                            <div class="news__item">
                                <div class="news__name">Lorem</div>
                                <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</div>
                            </div>

                            <div class="news__item">
                                <div class="news__name">Lorem</div>
                                <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</div>
                            </div>

                            <div class="news__item">
                                <div class="news__name">Lorem</div>
                                <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</div>
                            </div>

                        </div>

                        <div class="news__right">
                            <img src="img/man1.png" alt="">
                        </div>
                        
                    </div>
                </div>
            </section>
            
        </div>

    </div>

    <footer class="footer">
        <div class="container">
            
            <div class="phone"><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
            <div class="menu-bottom">
                <div class="menu-bottom__list">

                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>

                </div>
            </div>

            <div class="logo"><img class="img__contain" src="img/mda_w.png" alt=""></div>
        </div>
    </footer>

    <a href="#" class="basket-small">
        <span class="basket-small__count">3</span>
    </a>

    <a href="#" class="personal-small"></a>

    <div class="cookie" data-cookie>
        <div class="cookie__body">
            <div class="cookie__text">
                Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом и делать его лучше. Продолжая пользоваться сайтом, вы соглашаетесь с <a href="/privacy-policy/">условиями использования файлов cookie</a>.
            </div>
            <div class="cookie__button" data-bubble data-cookie-button>Понятно</div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            let node = $('[data-cookie]');
            let height = $(node).height() + 30;
            $(node).css({
                top: 'unset',
                bottom: -1 * height + 'px',
            });
            $(node).animate(
                {
                    bottom: '0',
                    opacity: 1,
                },
                1000
            );
            $('[data-cookie-button]').on('click', function () {
                $(node).remove();
            });
        });
    </script>
    
</body>
</html>