<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MDA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body style="background-image: url('../img/ef.png'), url('../img/prop.png');">

    <div class="mda-bg"></div>

    <div class="content">

        <header class="header" data-header>
            <div class="header__body">
            
                <a href="/" class="logo">
                    <img class="logo__file" src="img/logo_header.png" alt="Logo">
                </a>
                <nav class="menu-top" data-menu-top>
                    <div class="menu-top__list">
                        <div class="menu-top__item"><a href="#" class="menu-top__link">О нас</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Вакансии</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Новости</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Контакты</a></div>
                    </div>
                </nav>
                <div class="burger" data-menu-burger><span></span></div>

            </div>
        </header>

        <div class="main">

            <div class="title">
                <div class="container">
                    <h1 class="title__text">МОЙ ЗАКАЗ №11, СОЗДАН 08.09.2022</h1>
                <div class="breadcrumbs">
                    <div class="breadcrumbs__list">

                        <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Каталог</span></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Электронки</span></div>

                    </div>
                </div>
                </div>
                
            </div>

            <div class="container">






                <div class="order-detail">

                    <a class="button back-button">Вернуться в список заказов</a>
                    
                    <div class="order-detail__body">

                        <div class="order-detail__item">
                            <div class="order-detail__title"><h2>Заказ №11 от 08.09.2022, 2 товара на сумму 1 000.00 ₽</h2></div>
                        </div>
                        
                        <div class="order-detail__item">

                            <div class="order-detail__title"><h3>Информация о заказе</h3></div>

                            <div class="order-detail__item-body">

                                <div class="order-detail__item-info">
                                    <table class="order-detail__item-table">
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td">Ф.И.О.:</td>
                                            <td class="order-detail__item-table-tr-td">Админ Админов</td>
                                        </tr>
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td">Текущий статус, от 08.09.2022:</td>
                                            <td class="order-detail__item-table-tr-td">Принят, ожидается оплата</td>
                                        </tr>
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td">Сумма:</td>
                                            <td class="order-detail__item-table-tr-td">1 000.00 ₽</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="order-detail__item-show">

                                    <div class="order-detail__item-title">Информация о пользователе</div>
                                        
                                    <table class="order-detail__item-table">
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td">Логин:</td>
                                            <td class="order-detail__item-table-tr-td">admin</td>
                                        </tr>
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td">E-mail адрес:</td>
                                            <td class="order-detail__item-table-tr-td"><a class="order-detail__link" href="mailto:th2009@mail.ru">th2009@mail.ru</a></td>
                                        </tr>
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td">Тип плательщика:</td>
                                            <td class="order-detail__item-table-tr-td">Физическое лицо</td>
                                        </tr>
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td">Ф.И.О.:</td>
                                            <td class="order-detail__item-table-tr-td">Админ Дминов</td>
                                        </tr>
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td">Телефон:</td>
                                            <td class="order-detail__item-table-tr-td">79142187409</td>
                                        </tr>
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td">Email:</td>
                                            <td class="order-detail__item-table-tr-td">th2009@mail.ru</td>
                                        </tr>
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td" style="white-space: nowrap">Комментарий к заказу:</td>
                                            <td class="order-detail__item-table-tr-td">Комментарий очень длинный Комментарий очень длинный Комментарий очень длинный Комментарий очень длинный
                                                Комментарий очень длинный Комментарий очень длинный Комментарий очень длинный Комментарий очень длинный
                                                Комментарий очень длинный Комментарий очень длинный Комментарий очень длинный Комментарий очень длинный
                                                Комментарий очень длинный Комментарий очень длинный Комментарий очень длинный Комментарий очень длинныйКомментарий очень длинный Комментарий очень длинный Комментарий очень длинный Комментарий очень длинныйКомментарий очень длинный Комментарий очень длинный Комментарий очень длинный Комментарий очень длинныйКомментарий очень длинный Комментарий очень длинный Комментарий очень длинный Комментарий очень длинныйКомментарий очень длинный Комментарий очень длинный Комментарий очень длинный Комментарий очень длинный
                                            </td>
                                        </tr>
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td" colspan="2"></td>
                                            <td class="order-detail__item-table-tr-td"></td>
                                        </tr>
                                    </table>
                                    
                                </div>

                                <div class="order-detail__item-buttons">
                                    <a class="button__success" data-button href="">Повторить</a>
                                    <a class="button__error" data-button href="">Отменить</a>
                                    <a class="button__medium" data-button href="">Подробнее</a>
                                </div>
                                
                            </div>
                        </div>

                        <div class="order-detail__item">

                            <div class="order-detail__title"><h3>Параметры оплаты</h3></div>

                            <div class="order-detail__item-body">
                                
                                <div class="order-detail__item-info">
                                    <div class="order-detail__item-title">Заказ №11 от 08.09.2022, Принят, ожидается оплата</div>

                                    <div class="order-detail__item-detail">
                                        <div class="order-detail__item-detail-image">
                                            <img src="img/mda_w.png" alt="">
                                        </div>
                                        <div class="order-detail__item-detail-info">

                                            <div class="order-detail__item-title">
                                                Счет №11/1 от 08.09.2022, Счет
                                                <span class='order-detail__payment-success'>свернуть</span>
                                                <span class='order-detail__payment-medium'>свернуть</span>
                                                <span class='order-detail__payment-error'>свернуть</span>
                                            </div>

                                            <table class="order-detail__item-table">
                                                <tr class="order-detail__item-table-tr">
                                                    <td class="order-detail__item-table-tr-td">Сумма к оплате по счету:</td>
                                                    <td class="order-detail__item-table-tr-td">1 000.00 ₽</td>
                                                </tr>
                                            </table>

                                        </div>
                                        
                                    </div>

                                    <div class="order-detail__item-show">
                                        
                                        <div class="order-detail__item-show-list">
                                            <div class="order-detail__item-show-payment">
                                                <img src="img/mda_w.png" alt="">
                                                <span>Наличный расчет</span>
                                            </div>
                                            <div class="order-detail__item-show-payment">
                                                <img src="img/mda_w.png" alt="">
                                                <span>Наличный</span>
                                            </div>
                                        </div>
                                        
                                    </div>

                                </div>

                                <div class="order-detail__item-buttons">
                                    <a class="button__success" href="">Оплатить</a>
                                    <a class="button__medium" href="">Сменить способ оплаты</a>
                                    <a class="button__error" href="">Отменить</a>
                                </div>
                                
                            </div>
                        </div>

                        <div class="order-detail__item">

                            <div class="order-detail__title"><h3>Параметры отгрузки</h3></div>

                            <div class="order-detail__item-body">
                                
                                <div class="order-detail__item-info">

                                    <div class="order-detail__item-title">Отгрузка №11/2, стоимость доставки 0.00 ₽</div>

                                    <div class="order-detail__item-detail">
                                        <div class="order-detail__item-detail-image">
                                            <img src="img/mda_w.png" alt="">
                                        </div>
                                        <div class="order-detail__item-detail-info">

                                            <table class="order-detail__item-table">
                                                <tr class="order-detail__item-table-tr">
                                                    <td class="order-detail__item-table-tr-td">Служба доставки:</td>
                                                    <td class="order-detail__item-table-tr-td">Самовывоз</td>
                                                </tr>
                                                <tr class="order-detail__item-table-tr">
                                                    <td class="order-detail__item-table-tr-td">Статус отгрузки:</td>
                                                    <td class="order-detail__item-table-tr-td">Ожидает обработки</td>
                                                </tr>
                                                <tr class="order-detail__item-table-tr">
                                                    <td class="order-detail__item-table-tr-td">Идентификатор отправления:</td>
                                                    <td class="order-detail__item-table-tr-td">1234567890</td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>

                                    <div class="order-detail__item-show">
                                        <div class="order-detail__item-show-body">
                                            <div class="order-detail__item-show-head">
                                                <div class="order-detail__item-title">Склад самовывоза</div>
                                                <table class="order-detail__item-table">
                                                    <tr class="order-detail__item-table-tr">
                                                        <td class="order-detail__item-table-tr-td">Адрес:</td>
                                                        <td class="order-detail__item-table-tr-td">Хабаровск</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            
                                            <div class="order-detail__item-show-products">
                                                <div class="order-detail__item-title">Состав отгрузки</div>
                                                <table class="order-detail__item-table order-detail__item-table-width">
                                                    <tr class="order-detail__item-table-tr">
                                                        <td class="order-detail__item-table-tr-td">Наименование</td>
                                                        <td class="order-detail__item-table-tr-td">Количество</td>
                                                    </tr>
                                                    <tr class="order-detail__item-table-tr">
                                                        <td class="order-detail__item-table-tr-td">
                                                            <div class="order-detail__item-table-tr-td-product">
                                                                <div class="order-detail__item-table-tr-td-product-image">
                                                                    <img src="img/element.jpeg" alt="">
                                                                </div>
                                                                <div class="order-detail__item-table-tr-td-product-info">
                                                                    <div class="order-detail__item-table-tr-td-product-title">Glitch арбуз</div>
                                                                    <div class="order-detail__item-table-tr-td-product-property">Вкус: Арбуз</div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="order-detail__item-table-tr-td">1  шт</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>

                                </div>

                                <div class="order-detail__item-buttons">
                                    <a class="button__medium" href="">Проверить отправление</a>
                                    <a class="button__medium" href="">Показать все</a>
                                </div>
                                
                            </div>
                        </div>

                        <div class="order-detail__item order-detail__item-product">

                            <div class="order-detail__title"><h3>Содержимое заказа</h3></div>

                            <div class="order-detail__item-body">
                                
                                <div class="order-detail__item-info ">

                                    <table class="order-detail__item-table order-detail__item-table-width">
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td">Наименование</td>
                                            <td class="order-detail__item-table-tr-td">Цена</td>
                                            <td class="order-detail__item-table-tr-td">Скидка</td>
                                            <td class="order-detail__item-table-tr-td">Количество</td>
                                            <td class="order-detail__item-table-tr-td">Сумма</td>
                                        </tr>
                                        <tr class="order-detail__item-table-tr">
                                            <td class="order-detail__item-table-tr-td">
                                                <div class="order-detail__item-table-tr-td-product">
                                                    <div class="order-detail__item-table-tr-td-product-image">
                                                        <img src="img/element.jpeg" alt="">
                                                    </div>
                                                    <div class="order-detail__item-table-tr-td-product-info">
                                                        <div class="order-detail__item-table-tr-td-product-title">Glitch арбуз</div>
                                                        <div class="order-detail__item-table-tr-td-product-property">Вкус: Арбуз</div>
                                                    </div>
                                                    
                                                </div>
                                            </td>
                                            <td class="order-detail__item-table-tr-td">500.00 ₽</td>
                                            <td class="order-detail__item-table-tr-td">10%</td>
                                            <td class="order-detail__item-table-tr-td">1  шт</td>
                                            <td class="order-detail__item-table-tr-td">450 ₽</td>
                                        </tr>
                                    </table>
                                    

                                </div>
                                
                            </div>
                        </div>

                        <div class="order-detail__item">

                            <div class="order-detail__item-body">
                                
                                <div class="order-detail__item-info">

                                    <div class="order-detail__item-total">
                                        <div class="order-detail__item-total-list">
                                            <div class="order-detail__item-total-item">
                                                <div class="order-detail__item-total-item-td">Общий вес:</div>
                                                <div class="order-detail__item-total-item-td">0 г</div>
                                            </div>
                                            <div class="order-detail__item-total-item">
                                                <div class="order-detail__item-total-item-td">Товар на:</div>
                                                <div class="order-detail__item-total-item-td">1 000.00 ₽</div>
                                            </div>
                                            <div class="order-detail__item-total-item">
                                                <div class="order-detail__item-total-item-td">Стоимость доставки:</div>
                                                <div class="order-detail__item-total-item-td">0.00 ₽</div>
                                            </div>
                                            <div class="order-detail__item-total-item">
                                                <div class="order-detail__item-total-item-td">НДС:</div>
                                                <div class="order-detail__item-total-item-td">0.00 ₽</div>
                                            </div>
                                            <div class="order-detail__item-total-item">
                                                <div class="order-detail__item-total-item-td">Итого:</div>
                                                <div class="order-detail__item-total-item-td">1 000.00 ₽</div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    

                                </div>
                                
                            </div>
                        </div>
                        
                    </div>

                </div>








            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            
            <div class="phone"><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
            <div class="menu-bottom">
                <div class="menu-bottom__list">

                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>

                </div>
            </div>

            <div class="logo"><img class="img__contain" src="img/mda_w.png" alt=""></div>
        </div>
    </footer>

</body>
</html>