<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MDA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body style="background-image: url('../img/ef.png'), url('../img/prop.png');">

    <div class="mda-bg"></div>

    <div class="content">

        <header class="header" data-header>
            <div class="header__body">
            
                <a href="/" class="logo">
                    <img class="logo__file" src="img/logo_header.png" alt="Logo">
                </a>
                <nav class="menu-top" data-menu-top>
                    <div class="menu-top__list">
                        <div class="menu-top__item"><a href="#" class="menu-top__link">О нас</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Вакансии</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Новости</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Контакты</a></div>
                    </div>
                </nav>
                <div class="burger" data-menu-burger><span></span></div>

            </div>
        </header>

        <div class="main">

            <div class="title">
                <div class="container">
                    <h1 class="title__text">МОЙ ЗАКАЗ №11, СОЗДАН 08.09.2022</h1>
                <div class="breadcrumbs">
                    <div class="breadcrumbs__list">

                        <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Каталог</span></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Электронки</span></div>

                    </div>
                </div>
                </div>
                
            </div>

            <div class="container">
                
                <div class="order-detail">

                    <a class="back-button" href="#">Вернутся в список заказов</a>

                    <div class="order-detail__body">

                        <div class="order-detail__title">Заказ №11 от 08.09.2022, 2 товара на сумму 1 000.00 ₽</div>

                        <div class="order-detail__info">
                            <div class="order-detail__info-title">Информация о заказе</div>
                            <div class="order-detail__info-list">
                                <div class="order-detail__info-item">
                                    <div class="order-detail__info-item-name">Текущий статус, от 08.09.2022:</div>
                                    <div class="order-detail__info-item-value">Принят, ожидается оплата</div>
                                </div>
                                <div class="order-detail__info-item">
                                    <div class="order-detail__info-item-name">Сумма:</div>
                                    <div class="order-detail__info-item-value">1 000.00 ₽</div>
                                </div>
                                <div class="order-detail__info-item">
                                    <div class="order-detail__info-item-name">Логин:</div>
                                    <div class="order-detail__info-item-value">admin</div>
                                </div>
                                <div class="order-detail__info-item">
                                    <div class="order-detail__info-item-name">E-mail адрес:</div>
                                    <div class="order-detail__info-item-value">th2009@mail.ru</div>
                                </div>
                                <div class="order-detail__info-item">
                                    <div class="order-detail__info-item-name">Тип плательщика:</div>
                                    <div class="order-detail__info-item-value">Физическое лицо</div>
                                </div>
                                <div class="order-detail__info-item">
                                    <div class="order-detail__info-item-name">Ф.И.О.:</div>
                                    <div class="order-detail__info-item-value">Админ Админов</div>
                                </div>
                                <div class="order-detail__info-item">
                                    <div class="order-detail__info-item-name">Телефон:</div>
                                    <div class="order-detail__info-item-value">79142187409</div>
                                </div>
                                <div class="order-detail__info-item">
                                    <div class="order-detail__info-item-name">Комментарии к заказу</div>
                                    <div class="order-detail__info-item-value">Тестовый комментарий</div>
                                </div>
                            </div>
                            <div class="order-detail__buttons">
                                <a href="#">Повторить заказ</a>
                                <a href="#">Отменить</a>
                            </div>
                        </div>

                        <div class="order-detail__payment">
                            <div class="order-detail__payment-title">Параметры оплаты</div>
                            
                            <div class="order-detail__payment-info">
                                <div class="order-detail__payment-info-title">Заказ №11 от 08.09.2022, Принят, ожидается оплата</div>
                                <div class="order-detail__payment-info-text">Сумма заказа: 1 000.00 ₽</div>
                            </div>

                            <div class="order-detail__payment-body">
                                <div class="order-detail__payment-body-image">
                                    <img src="img/element.jpeg" alt="">
                                </div>
                                <div class="order-detail__payment-body-info">
                                    <div class="order-detail__payment-info-title">Счет №11/1 от 08.09.2022, Счет</div>
                                    <div class="order-detail__payment-info-text">Сумма к оплате по счету: 1 000.00 ₽</div>
                                </div>
                            </div>
                            
                            <div class="order-detail__buttons">
                                <a href="#">Сменить способ оплаты</a>
                                <a href="#">Оплатить</a>
                            </div>
                        </div>

                        <div class="order-detail__shipment">
                            <div class="order-detail__shipment-title">Параметры отгрузки</div>

                            <div class="order-detail__shipment-info">
                                <div class="order-detail__shipment-info-title">Отгрузка №11/2, стоимость доставки 0.00 ₽</div>
                            </div>

                            <div class="order-detail__shipment-body">
                                <div class="order-detail__shipment-body-image">
                                    <img src="img/element.jpeg" alt="">
                                </div>
                                <div class="order-detail__shipment-body-info">
                                    <div class="order-detail__shipment-info-text">Служба доставки: Самовывоз</div>
                                    <div class="order-detail__shipment-info-text">Статус отгрузки: Ожидает обработки</div>
                                    <div class="order-detail__shipment-info-text">Идентификатор отправления: 1234567890</div>
                                    <a href="">показать все</a>
                                </div>
                            </div>
                            
                            <div class="order-detail__buttons">
                                <a href="#">Проверить отправление</a>
                            </div>
                        </div>

                        <div class="order-detail__products">
                            <div class="order-detail__products-title">Содержимое заказа</div>
                            
                            <div class="order-detail__products-table">
                                <table>
                                    <tr>
                                        <td>Наименование</td>
                                        <td>Цена</td>
                                        <td>Скидка</td>
                                        <td>Количество</td>
                                        <td>Сумма</td>
                                    </tr>
                                    <tr>
                                        <td class="order-detail__products-item">
                                            <div class="order-detail__products-item-image">
                                                <img src="img/element.jpeg" alt="">
                                            </div>
                                            <div class="order-detail__products-item-info">
                                                <div class="order-detail__products-item-title">Glitch арбуз</div>
                                                <div class="order-detail__products-item-property">
                                                    Вкус: Арбуз
                                                </div>
                                            </div>
                                        </td>
                                        <td><span>500.00 ₽</span></td>
                                        <td>10%</td>
                                        <td>1  шт</td>
                                        <td>450 ₽</td>
                                    </tr>
                                </table>
                            </div>
                            
                        </div>

                        <div class="order-detail__total">
                            <div class="order-detail__total-table">

                                <div class="order-detail__total-table-item">
                                    <div class="order-detail__total-table-item-name">Общий вес:</div>
                                    <div class="order-detail__total-table-item-name">Товар на:</div>
                                    <div class="order-detail__total-table-item-name">Стоимость доставки:</div>
                                    <div class="order-detail__total-table-item-name">НДС:</div>
                                    <div class="order-detail__total-table-item-name">Итого:</div>
                                </div>

                                <div class="order-detail__total-table-item">
                                    <div class="order-detail__total-table-item-name">0 г</div>
                                    <div class="order-detail__total-table-item-name">1 000.00 ₽</div>
                                    <div class="order-detail__total-table-item-name">0.00 ₽</div>
                                    <div class="order-detail__total-table-item-name">0.00 ₽</div>
                                    <div class="order-detail__total-table-item-name">1 000.00 ₽</div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            
            <div class="phone"><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
            <div class="menu-bottom">
                <div class="menu-bottom__list">

                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>

                </div>
            </div>

            <div class="logo"><img class="img__contain" src="img/mda_w.png" alt=""></div>
        </div>
    </footer>

</body>
</html>