<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MDA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body style="background-image: url('../img/ef.png'), url('../img/prop.png');">

    <div class="mda-bg"></div>

    <div class="content">

        <header class="header" data-header>
            <div class="header__body">
            
                <a href="/" class="logo">
                    <img class="logo__file" src="img/logo_header.png" alt="Logo">
                </a>
                <nav class="menu-top" data-menu-top>
                    <div class="menu-top__list">
                        <div class="menu-top__item"><a href="#" class="menu-top__link">О нас</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Вакансии</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Новости</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Контакты</a></div>
                    </div>
                </nav>
                <div class="burger" data-menu-burger><span></span></div>

            </div>
        </header>

        <div class="main">

            <div class="title">
                <div class="container">
                    <h1 class="title__text">МОЙ ЗАКАЗ №11, СОЗДАН 08.09.2022</h1>
                <div class="breadcrumbs">
                    <div class="breadcrumbs__list">

                        <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Каталог</span></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Электронки</span></div>

                    </div>
                </div>
                </div>
                
            </div>

            <div class="container">






                <div class="order-detail">
                    <div class="order-detail__body">

                        <div class="order-detail__title"><h2>Заказ №13 от 18.09.2022, 3 товара на сумму 2 000.00 ₽</h2></div>

                        <div class="order-detail__item">
                            <div class="order-detail__item-header">
                                <div class="order-detail__item-header-title"><h3>Содержимое заказа</h3></div>
                            </div>
                            <div class="order-detail__item-body">
                                <table class="order-detail__item-body-table">
                                    
                                    <thead>
                                        <tr class="order-detail__item-body-table-tr">
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>Наименование</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>Цена</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>Скидка</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>Количество</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>Сумма</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr class="order-detail__item-body-table-tr">
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <img src="img/element.jpeg" alt="Табак">
                                                    <span>Табак - очень длинное название данного табака</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>700 р.</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>2 шт.</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>10%</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>1400 р.</span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr class="order-detail__item-body-table-tr">
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <img src="img/element.jpeg" alt="Табак">
                                                    <span>Табак</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>700 р.</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>2 шт.</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>10%</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>1400 р.</span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr class="order-detail__item-body-table-tr">
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <img src="img/element.jpeg" alt="Табак">
                                                    <span>Табак</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>700 р.</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>2 шт.</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>10%</span>
                                                </div>
                                            </td>
                                            <td class="order-detail__item-body-table-tr-td">
                                                <div class="order-detail__item-body-table-tr-td-box">
                                                    <span>1400 р.</span>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="order-detail__list">

                            <div class="order-detail__list-item">
                                <div class="order-detail__item" data-item data-open>
                                    <div class="order-detail__item-header">
                                        <div class="order-detail__item-header-title"><h3>Содержимое заказа</h3></div>
                                        <span class="order-detail__item-header-arrow" data-opener></span>
                                    </div>
                                    <div class="order-detail__item-body" data-opener-box>
                                        <div class="order-detail__item-body-element">
                                            <ul class="order-detail__item-list">
                                                <li>
                                                    <span>Ф.И.О.:</span>
                                                    <span></span>
                                                    <span>Админ Админов</span>
                                                </li>
                                                <li>
                                                    <span>Текущий статус:</span>
                                                    <span></span>
                                                    <span>Принят, ожидается оплата</span>
                                                </li>
                                                <li>
                                                    <span>Сумма:</span>
                                                    <span></span>
                                                    <span>2000 р.</span>
                                                </li>
                                            </ul>
                                            <div class="order-detail__item-text">Комментарий:</div>
                                            <div class="order-detail__item-textarea">
                                                Комментарий комментарий комментарий комментарий комментарий комментарий комментарий комментарий
                                                комментарий комментарий комментарий комментарий комментарий комментарий
                                                комментарий комментарий комментарий комментарий
                                            </div>
                                            <div class="button">Повторить заказ</div>
                                            <div class="button">Подробнее</div>
                                            <div class="order-detail__item-link">Отменить заказ</div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="order-detail__item" data-item>
                                    <div class="order-detail__item-header">
                                        <div class="order-detail__item-header-title"><h3>Информация о доставке</h3></div>
                                        <span class="order-detail__item-header-arrow" data-opener></span>
                                    </div>
                                    <div class="order-detail__item-body" data-opener-box>

                                        <div class="order-detail__item-body-element">
                                            <div class="order-detail__item-text">Доставка №13/2</div>
                                            <div class="order-detail__item-text">Стоимость доставки: 0.00 ₽</div>
                                            <ul class="order-detail__item-list">
                                                <li>
                                                    <span>Вариант доставки:</span>
                                                    <span></span>
                                                    <span>Самовывоз</span>
                                                </li>
                                                <li>
                                                    <span>Статус доставки:</span>
                                                    <span></span>
                                                    <span>Ожидает обработки</span>
                                                </li>
                                            </ul>
                                            <div class="button">Показать все</div>
                                        </div>

                                        <div class="order-detail__item-body-element">
                                            <div class="order-detail__item-text">Доставка №13/2</div>
                                            <div class="order-detail__item-text">Стоимость доставки: 0.00 ₽</div>
                                            <ul class="order-detail__item-list">
                                                <li>
                                                    <span>Вариант доставки:</span>
                                                    <span></span>
                                                    <span>Самовывоз</span>
                                                </li>
                                                <li>
                                                    <span>Статус доставки:</span>
                                                    <span></span>
                                                    <span>Ожидает обработки</span>
                                                </li>
                                            </ul>
                                            <div class="button">Показать все</div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="order-detail__list-item">
                                <div class="order-detail__item" data-item>
                                    <div class="order-detail__item-header">
                                        <div class="order-detail__item-header-title"><h3>Параметры оплаты</h3></div>
                                        <span class="order-detail__item-header-arrow" data-opener></span>
                                    </div>
                                    <div class="order-detail__item-body" data-opener-box>
    
                                        <ul class="order-detail__item-list">
                                            <li>
                                                <span>Сумма заказа:</span>
                                                <span></span>
                                                <span>2 000 р.</span>
                                            </li>
                                            <li>
                                                <span>Оплачено:</span>
                                                <span></span>
                                                <span>1 700 р.</span>
                                            </li>
                                            <li>
                                                <span>Сумма к оплате:</span>
                                                <span></span>
                                                <span>300 р.</span>
                                            </li>
                                        </ul>
    
                                        <div class="order-detail__item-body-element">
                                            <div class="order-detail__item-text">Счет №13/1 от 18.09.2022, Сбербанк</div>
                                            <ul class="order-detail__item-list">
                                                <li>
                                                    <span>Сумма к оплате 1 700.00 ₽</span>
                                                    <span></span>
                                                    <span class="order-detail__item-success">Оплачен</span>
                                                </li>
                                            </ul>
                                        </div>
    
                                        <div class="order-detail__item-body-element">
                                            <div class="order-detail__item-text">Счет №13/2 от 18.09.2022, Сбербанк</div>
                                            <ul class="order-detail__item-list">
                                                <li>
                                                    <span>Сумма к оплате 1 700.00 ₽</span>
                                                    <span></span>
                                                    <span class="order-detail__item-error">Не оплачен</span>
                                                </li>
                                            </ul>
                                            <div class="button">Оплатить</div>
                                            <div class="button">Сменить способ оплаты</div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                    
                </div>








            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            
            <div class="phone"><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
            <div class="menu-bottom">
                <div class="menu-bottom__list">

                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>

                </div>
            </div>

            <div class="logo"><img class="img__contain" src="img/mda_w.png" alt=""></div>
        </div>
    </footer>

</body>
</html>