<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MDA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body style="background-image: url('../img/ef.png'), url('../img/prop.png');">

    <div class="mda-bg"></div>

    <div class="content">

        <header class="header" data-header>
            <div class="header__body">
            
                <a href="/" class="logo">
                    <img class="logo__file" src="img/logo_header.png" alt="Logo">
                </a>
                <nav class="menu-top" data-menu-top>
                    <div class="menu-top__list">
                        <div class="menu-top__item"><a href="#" class="menu-top__link">О нас</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Вакансии</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Новости</a></div>
                        <div class="menu-top__item"><a href="#" class="menu-top__link">Контакты</a></div>
                    </div>
                </nav>
                <div class="burger" data-menu-burger><span></span></div>

            </div>
        </header>

        <div class="main">

            <div class="title">
                <div class="container">
                    <h1 class="title__text">МОЙ ЗАКАЗ №11, СОЗДАН 08.09.2022</h1>
                <div class="breadcrumbs">
                    <div class="breadcrumbs__list">

                        <div class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Каталог</span></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__link">Электронки</span></div>

                    </div>
                </div>
                </div>
                
            </div>

            <div class="container">






                <div class="order-list">
                    <div class="order-list__body">
                        <div class="order-list__status">
                            <div class="order-list__status-header order-list__success-back">
                                <h2 class="order-list__status-header-title">Заказы в статусе «Принят, ожидается оплата»</h2>
                            </div>
                            <div class="order-list__status-body">
                                <div class="order-list__status-list">

                                    <div class="order-list__status-item">
                                        <h3 class="order-list__status-item-title">
                                            Заказ №13 от 18.09.2022, 3 товара на сумму 2 000.00 ₽
                                        </h3>
                                        <div class="order-list__status-item-body">
                                            <div class="order-list__status-item-body-list">
                                                <div class="order-list__status-item-body-item">
                                                    <h4 class="order-list__status-item-body-item-title">
                                                        Счет №13/1 от 18.09.2022, <span>Сбербанк</span>
                                                    </h4>
                                                    <ul class="order-list__status-item-body-item-list">
                                                        <li>
                                                            <span>Сумма к оплате 1 700.00 ₽</span>
                                                            <span></span>
                                                            <span class="order-list__success-text">Оплачен</span>
                                                        </li>
                                                    </ul>
                                                    <a href="#" class="button">Оплатить</a>
                                                    <a href="#" class="button">Сменить способ оплаты</a>
                                                </div>
                                                <div class="order-list__status-item-body-item">
                                                    <h4 class="order-list__status-item-body-item-title">
                                                        Отгрузка №6/2, стоимость доставки 0 ₽
                                                    </h4>
                                                    <ul class="order-list__status-item-body-item-list">
                                                        <li>
                                                            <span>Статус отгрузки</span>
                                                            <span></span>
                                                            <span>Ожидает обработки</span>
                                                        </li>
                                                        <li>
                                                            <span>Служба доставки</span>
                                                            <span></span>
                                                            <span>Самовывоз</span>
                                                        </li>
                                                    </ul>
                                                    <a href="#" class="button">Оплатить</a>
                                                    <a href="#" class="button">Сменить способ оплаты</a>
                                                </div>
                                            </div>
                                            
                                            <a href="#" class="button">Отменить заказ</a>
                                            <a href="#" class="button">Повторить заказ</a>
                                            <a href="#" class="order-list__link">Подробнее о заказе</a>
                                        </div>
                                    </div>

                                    <div class="order-list__status-item">
                                        <h3 class="order-list__status-item-title">
                                            Заказ №13 от 18.09.2022, 3 товара на сумму 2 000.00 ₽
                                        </h3>
                                        <div class="order-list__status-item-body">
                                            <div class="order-list__status-item-body-list">
                                                <div class="order-list__status-item-body-item">
                                                    <h4 class="order-list__status-item-body-item-title">
                                                        Счет №13/1 от 18.09.2022, <span>Сбербанк</span>
                                                    </h4>
                                                    <ul class="order-list__status-item-body-item-list">
                                                        <li>
                                                            <span>Сумма к оплате 1 700.00 ₽</span>
                                                            <span></span>
                                                            <span class="order-list__success-text">Оплачен</span>
                                                        </li>
                                                    </ul>
                                                    <a href="#" class="button">Оплатить</a>
                                                    <a href="#" class="button">Сменить способ оплаты</a>
                                                </div>
                                            </div>
                                            <a href="#" class="button">Отменить заказ</a>
                                            <a href="#" class="button">Повторить заказ</a>
                                            <a href="#" class="order-list__link">Подробнее о заказе</a>
                                        </div>
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>








            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            
            <div class="phone"><a href="tel:+7 (914) 218-74-09">+7 (914) 218-74-09</a></div>
            <div class="menu-bottom">
                <div class="menu-bottom__list">

                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>
                    <div class="menu-bottom__item"><a href="#" class="menu-bottom__link">Lorem ipsum</a></div>

                </div>
            </div>

            <div class="logo"><img class="img__contain" src="img/mda_w.png" alt=""></div>
        </div>
    </footer>

</body>
</html>