/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  /*.container {max-width:540px}*/
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  /*.container {max-width:720px}*/
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

body > .content *,
body > .footer * {
  font-family: "Montserrat";
  color: #fff;
}

body {
  background-color: #15151B;
  background-size: 1920px;
  background-repeat: repeat-y;
  background-position: top;
}

@media (max-width: 992px) {
  body {
    background-size: 992px;
  }
}
@media (max-width: 768px) {
  body {
    background-size: 768px;
  }
}
.img__contain, .img__cover {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}
.img__contain {
  -o-object-fit: contain;
     object-fit: contain;
}
.img__cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.main > section {
  margin-bottom: 100px;
}
.main__title {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 80px;
  font-size: 40px;
}
.main__title::before {
  content: "";
  opacity: 0.5;
  position: absolute;
  background-color: #fff;
  width: 200px;
  height: 2px;
  left: -220px;
  top: 50%;
}

@media (max-width: 992px) {
  .main__title::before {
    left: 4px;
    top: unset;
    bottom: -36px;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .main__title {
    font-size: 30px;
  }
}
.header {
  height: 76px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px 0 65px;
  z-index: 100;
  top: 0;
  left: 0;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: -1;
  transition: 500ms ease-in-out;
}
.header .logo {
  display: inline-block;
}

@media (max-width: 768px) {
  .header[data-active]::after {
    height: 100vh;
    transition: 500ms ease-in-out;
  }
}
.menu-top {
  display: inline-block;
}
.menu-top__list {
  display: table;
}
.menu-top__item {
  display: table-cell;
}
.menu-top__link {
  color: #fff;
  margin-left: 145px;
}

@media (max-width: 1400px) {
  .menu-top__link {
    margin-left: 100px;
  }
}
@media (max-width: 992px) {
  .menu-top__link {
    margin-left: 75px;
  }
}
@media (max-width: 768px) {
  .menu-top {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: 500ms ease-in-out;
    margin-top: 76px;
  }
  .menu-top[data-active] {
    display: block;
    left: 0;
    transition: 500ms ease-in-out;
  }
  .menu-top__list {
    display: block;
  }
  .menu-top__item {
    text-align: left;
    display: block;
  }
  .menu-top__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .menu-top__link {
    display: block;
    font-size: 24px;
    margin-left: 65px;
  }
}
.burger {
  display: none;
}

@media (max-width: 768px) {
  .burger {
    display: block;
    position: fixed;
    right: 50px;
    top: 28px;
    width: 30px;
    height: 20px;
  }
  .burger > span {
    background-color: #fff;
    position: absolute;
    right: 0;
    width: 90%;
    height: 2px;
    top: 9px;
  }
  .burger::before, .burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    right: 0;
    height: 2px;
  }
  .burger::before {
    top: 0;
    width: 80%;
  }
  .burger::after {
    bottom: 0;
    width: 100%;
  }
  .burger > span, .burger::before, .burger::after {
    transition: 500ms ease-in-out;
  }
  .burger[data-active] > span {
    transform: translateX(-30px);
    width: 0%;
  }
  .burger[data-active]::before {
    transform: rotate(225deg);
    top: 9px;
    width: 100%;
  }
  .burger[data-active]::after {
    transform: rotate(-225deg);
    bottom: 9px;
    width: 100%;
  }
}
.slider__item {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider__description {
  text-align: center;
  margin-top: 45px;
}
.slider__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.3;
}

.mda-animate {
  position: relative;
  width: 217px;
  height: 72px;
}
@-webkit-keyframes anaglyph {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 5px;
    top: 5px;
  }
  50% {
    left: 0;
    top: 0;
  }
  75% {
    left: -5px;
    top: -5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes anaglyph {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 5px;
    top: 5px;
  }
  50% {
    left: 0;
    top: 0;
  }
  75% {
    left: -5px;
    top: -5px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
.mda-animate__w {
  z-index: 1;
}
.mda-animate__r {
  z-index: -1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.mda-animate__b {
  z-index: -1;
  animation-direction: alternate-reverse;
}
.mda-animate__r, .mda-animate__b {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-name: anaglyph;
          animation-name: anaglyph;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: steps(2, end);
          animation-timing-function: steps(2, end);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.sections-main__body {
  display: grid;
  gap: 75px;
  grid-template-columns: 1fr 1fr;
}
.sections-main__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.sections-main__link {
  display: block;
  border: 2px solid rgba(0, 133, 255, 0.44);
  padding: 55px;
  font-size: 36px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
}
.sections-main__link:hover {
  background-color: rgba(0, 133, 255, 0.44);
  transition: 250ms ease-in-out;
}
.sections-main__img {
  position: relative;
}
.sections-main__img > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  .sections-main__list {
    gap: 25px;
  }
  .sections-main__link {
    padding: 30px;
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .sections-main__body {
    grid-template-columns: 1fr;
  }
  .sections-main__img {
    display: none;
  }
  .sections-main__link {
    text-align: center;
  }
}
.popular__body {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
}
.popular__list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 400px;
}
.popular__list .popular__item:nth-child(4n+1) {
  grid-column: 1/3;
}
.popular__list .popular__item:nth-child(4n) {
  grid-column: 2/4;
}
.popular__item {
  position: relative;
  border: 2px solid rgba(0, 133, 255, 0.44);
  background-color: rgba(0, 0, 0, 0.5);
}
.popular__name {
  opacity: 0;
  text-align: center;
  padding: 15px;
  transition: 250ms ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.popular__item:hover .popular__name {
  opacity: 1;
  transition: 250ms ease-in-out;
}
@media (max-width: 1400px) {
  .popular__body {
    display: block;
  }
  .popular__right {
    display: none;
  }
}
@media (max-width: 768px) {
  .popular__name {
    opacity: 1;
    font-size: 14px;
  }
  .popular__list {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
  }
  .popular__list .popular__item:nth-child(4n+1) {
    grid-column: unset;
  }
  .popular__list .popular__item:nth-child(4n) {
    grid-column: unset;
  }
}
@media (max-width: 576px) {
  .popular__list {
    grid-template-columns: 1fr;
  }
}
.news__body {
  display: grid;
  gap: 25px;
  grid-template-columns: 2fr 1fr;
}
.news__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.news__item:nth-child(1) {
  grid-column: 1/3;
}
.news__item {
  padding: 65px;
  border: 2px solid rgba(0, 133, 255, 0.44);
  background-color: rgba(0, 0, 0, 0.5);
}
.news__name {
  margin-bottom: 30px;
  font-size: 24px;
}
@media (max-width: 1400px) {
  .news__body {
    display: block;
  }
  .news__right {
    display: none;
  }
}
@media (max-width: 768px) {
  .news__name {
    opacity: 1;
    font-size: 14px;
  }
  .news__list {
    grid-template-columns: 1fr;
  }
  .news__list .news__item:nth-child(4n+1) {
    grid-column: unset;
  }
  .news__list .news__item:nth-child(4n) {
    grid-column: unset;
  }
}
.footer {
  margin-top: 100px;
}
.footer > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phone {
  margin-bottom: 25px;
  opacity: 0.5;
}

.logo {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 80px;
}

.menu-bottom {
  width: 100%;
}
.menu-bottom__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu-bottom__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-bottom__link {
  padding: 7px;
  opacity: 0.5;
}

@media (max-width: 992px) {
  .menu-bottom__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .menu-bottom__list {
    grid-template-columns: 1fr 1fr;
  }
}
.title {
  margin-top: 126px;
  margin-bottom: 50px;
}
.title__text {
  text-transform: uppercase;
  position: relative;
  font-size: 30px;
}

.breadcrumbs__item {
  display: inline-block;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 10px;
  position: relative;
}
.breadcrumbs__item:not(:last-child)::before {
  content: "|";
  position: absolute;
  right: -7px;
  top: 4px;
  font-size: 10px;
}
.breadcrumbs__item:last-child .breadcrumbs__link {
  opacity: 0.5;
}
.breadcrumbs__link {
  font-size: 10px;
}
.breadcrumbs__link:hover:not(span) {
  text-decoration: underline;
  color: #fff;
}

.pagenavigation {
  margin-top: 50px;
}
.pagenavigation__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagenavigation__list > li:not(:first-child) {
  margin-left: 15px;
}
.pagenavigation__list > li span {
  padding: 4px 7px;
}
.pagenavigation__list > li[data-select] span {
  border: 1px solid #fff;
}

.sections-mini {
  margin-bottom: 100px;
}
.sections-mini__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sections-mini__item {
  margin-top: 15px;
  margin-right: 20px;
}
.sections-mini__link {
  display: inline-block;
  font-size: 15px;
  padding: 14px 46px 14px 14px;
  opacity: 0.5;
  border: 2px solid #fff;
}

.list1__list {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}
.list1__item > *:not(:last-child) {
  margin-bottom: 10px;
}
.list1__img {
  display: block;
  border: 2px solid #fff;
  height: 380px;
  overflow: hidden;
  transition: 250ms ease-in-out;
}
.list1__img > img {
  transition: 250ms ease-in-out;
}
.list1__item:hover .list1__img {
  border: 2px solid rgba(0, 133, 255, 0.44);
  transition: 250ms ease-in-out;
}
.list1__item:hover .list1__img > img {
  transform: scale(1.05);
  transition: 250ms ease-in-out;
}
.list1__name {
  display: block;
  font-size: 14px;
}
.list1__properties {
  margin-top: 15px;
}
.list1__properties-title {
  font-size: 22px;
  margin-bottom: 15px;
}
.list1__properties-sky-element {
  margin-bottom: 15px;
}
.list1__properties-sky-title {
  display: inline-block;
  margin-bottom: 10px;
}
.list1__properties-sky-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.list1__properties-sky-item {
  margin-bottom: 5px;
  padding: 5px;
  border: 2px solid #fff;
  cursor: pointer;
}
.list1__properties-sky-item:not(:last-child) {
  margin-right: 5px;
}
.list1__properties-sky-item.selected {
  color: #fff;
  border: 2px solid #0085FF;
}
.list1__properties-sky-item-img {
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}
.list1__properties-sky-item-img.selected {
  border: 2px solid #0085FF;
}
.list1__price-now {
  font-weight: bold;
  font-size: 25px;
}
.list1__price-old {
  margin-bottom: -5px;
}
.list1__price-old > span {
  font-weight: bold;
  font-size: 15px;
  color: #8A8A8A !important;
  position: relative;
}
.list1__price-old > span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 9px;
  left: 0;
  background-color: #8A8A8A;
}
.list1__buy-button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  .list1__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .list1__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .list1__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.list2__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.list2__item {
  border: 2px solid rgba(0, 133, 255, 0.44);
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
}
.list2__img {
  height: 250px;
}
.list2__info {
  padding: 15px;
}
.list2__name {
  margin-bottom: 30px;
  font-size: 24px;
}
@media (max-width: 1400px) {
  .list2__item {
    grid-template-columns: 2fr 4fr;
  }
}
@media (max-width: 992px) {
  .list2__item {
    grid-template-columns: 3fr 5fr;
  }
}
@media (max-width: 768px) {
  .list2__item {
    grid-template-columns: 1fr;
  }
}
.detail1 > .container {
  max-width: 800px;
}
.detail1__body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  border: 2px solid rgba(0, 133, 255, 0.44);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
}
.detail1__img {
  border: 2px solid rgba(0, 133, 255, 0.44);
  height: 300px;
}
.element__body {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
.element__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element__img > div {
  width: 100%;
  border: 2px solid rgba(0, 133, 255, 0.44);
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}
.element__img > div > img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.element__name {
  margin-top: 50px;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.element__description-title {
  font-size: 22px;
  margin-bottom: 15px;
}
.element__properties {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #5F5F5F;
}
.element__properties-title {
  font-size: 22px;
  margin-bottom: 15px;
}
.element__properties-sky-element {
  margin-bottom: 15px;
}
.element__properties-sky-title {
  display: inline-block;
  margin-bottom: 10px;
}
.element__properties-sky-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.element__properties-sky-item {
  margin-bottom: 5px;
  padding: 5px;
  border: 2px solid #fff;
  cursor: pointer;
}
.element__properties-sky-item:not(:last-child) {
  margin-right: 5px;
}
.element__properties-sky-item.selected {
  color: #fff;
  border: 2px solid #0085FF;
}
.element__properties-sky-item-img {
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}
.element__properties-sky-item-img.selected {
  border: 2px solid #0085FF;
}
.element__properties-item {
  display: flex;
  flex-direction: row;
}
.element__properties-name {
  flex: 0 0 auto;
  margin-right: 15px;
}
.element__properties-value {
  flex: 1 0 auto;
}
.element__buy-container {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #5F5F5F;
}
.element__buy-button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-transform: uppercase;
}
.element__buy-button:hover {
  background-color: #fff;
  color: #15151B;
}
.element__price {
  margin-bottom: 15px;
}
.element__price-now {
  font-weight: bold;
  font-size: 25px;
}
.element__price-old {
  margin-bottom: -5px;
}
.element__price-old > span {
  font-weight: bold;
  font-size: 15px;
  color: #8A8A8A !important;
  position: relative;
}
.element__price-old > span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 9px;
  left: 0;
  background-color: #8A8A8A;
}
.element__price-discount {
  margin-top: -5px;
  font-weight: bold;
  font-size: 15px;
  color: #ff2d2d !important;
}

@media (max-width: 1400px) {
  .element__name {
    margin-top: unset;
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .element__name {
    font-size: 28px;
  }
  .element__body {
    grid-template-columns: 2fr 3fr;
  }
}
@media (max-width: 768px) {
  .element__name {
    font-size: 22px;
  }
  .element__body {
    grid-template-columns: 1fr;
  }
}
.quantity {
  margin-bottom: 15px;
}
.quantity__button {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 5px;
  font-size: 24px;
  position: relative;
  border: 1px solid #fff;
  cursor: pointer;
}
.quantity__button.disabled {
  border-color: #8A8A8A;
}
.quantity__button.disabled:before, .quantity__button.disabled:after {
  background-color: #8A8A8A;
}
.quantity__button.plus:before, .quantity__button.plus:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  left: 1px;
  top: 6px;
  background-color: #fff;
}
.quantity__button.plus:after {
  transform: rotate(90deg);
}
.quantity__button.minus:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  left: 1px;
  top: 6px;
  background-color: #fff;
}
.quantity__input {
  width: 30px;
  display: inline-block;
  text-align: center;
}
.quantity__input::-webkit-outer-spin-button, .quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.quantity__result {
  margin-left: 15px;
}

.back-button {
  text-transform: uppercase;
  padding: 15px 15px 15px 80px;
  display: inline-block;
  border: 1px solid #fff;
  font-size: 12px;
  position: relative;
}
.back-button::after, .back-button::before {
  content: "";
  position: absolute;
}
.back-button::before {
  left: 15px;
  top: 18px;
  width: 9px;
  height: 9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
}
.back-button::after {
  left: 14px;
  top: 22px;
  width: 60px;
  height: 1px;
  background-color: #fff;
}
.back-button:hover {
  background-color: #fff;
  color: #15151B;
  transition: 250ms ease-in-out;
}
.back-button:hover::before {
  border-color: #15151B;
  transition: 250ms ease-in-out;
}
.back-button:hover::after {
  background-color: #15151B;
  transition: 250ms ease-in-out;
}
.back-button:first-child {
  margin-bottom: 15px;
}
.back-button:last-child {
  margin-top: 15px;
}

.popup__button {
  padding: 10px 20px;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
.popup__button:hover {
  background-color: #fff;
  color: #15151B;
}

.popup-window {
  background-color: #15151B;
  border: 1px solid #fff;
}
.popup-window * {
  color: #fff;
}

.popup-window-content {
  background-color: unset !important;
  padding: 15px !important;
}
.popup-window-content img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.popup-window-content p {
  margin-top: 15px;
  padding: 5px;
}

.basket-small {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  background-image: url("../img/cart.svg");
  background-position: 45% 50%;
  background-repeat: no-repeat;
  background-color: #15151B;
  border-radius: 30px;
  border: 2px solid #fff;
}
@-webkit-keyframes pulse {
  0% {
    background-color: #15151B;
  }
  2% {
    background-color: #0085FF;
  }
  100% {
    background-color: #15151B;
  }
}
@keyframes pulse {
  0% {
    background-color: #15151B;
  }
  2% {
    background-color: #0085FF;
  }
  100% {
    background-color: #15151B;
  }
}
@-webkit-keyframes jerking {
  0% {
    right: -5px;
  }
  2% {
    right: -7px;
  }
  10% {
    right: -4px;
  }
  15% {
    right: -5px;
  }
}
@keyframes jerking {
  0% {
    right: -5px;
  }
  2% {
    right: -7px;
  }
  10% {
    right: -4px;
  }
  15% {
    right: -5px;
  }
}
.basket-small__count {
  position: absolute;
  right: -5px;
  top: -5px;
  padding: 0 7px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  -webkit-animation-name: pulse, jerking;
          animation-name: pulse, jerking;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.personal__list {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}
.personal__item {
  text-align: center;
  padding: 50px 15px;
  border: 1px solid #fff;
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
}
.personal__item:hover {
  background-color: #fff;
  color: #15151B;
  transition: 250ms ease-in-out;
}