.auth {

    &__body {
    }

    &__form {
    }

    &__teble {
        border-spacing: 15px 15px;
        border-collapse: initial;
    }

    &__item {
    }

    &__label {
        text-align: right;
    }

    &__input {
        border: $border1;
        padding: 5px 10px;
        background-color: $blackout_color;

        &:hover,
        &:focus {
            background-color: $font_color;
            color: $font_color_reverse;
        }
    }

    &__button {

        & > * {
            border: $border1;
            padding: 5px 10px;

            &:hover {
                background-color: $font_color;
                border: $border1;
                color: $font_color_reverse;
            }
        }
    }

    &__forgot {
        
        &:hover {
            color: $main_color;
        }
    }

    &__remember {
        padding-left: 5px;
    }

    &__error {

        & * {
            color: $main_color_reverse !important;
        }
    }
}
