.popup-window {
    background-color: $background_color;
    border: 1px solid $font_color;

    & * {
        color: $font_color;
    }

    &-button {
        padding: 10px 20px;
        border: 1px solid $font_color;
        color: $font_color;
        display: inline-block;
        cursor: pointer;
        background-color: unset;
        line-height: initial;
        border-radius: unset;

        &:hover {
            background-color: $font_color;
            color: $font_color_reverse;
        }
    }

    &-content {
        background-color: unset;
        padding: 15px;
    
        & img {
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    
        & p {
            margin-top: 15px;
            padding: 5px;
        }
    }
}

#bx-soa-order *,
#color-white *,
.bx-sbb-empty-cart-container *,
#basket-root * {
    color: $font_color;
}

.pre {
    background-color: #550000 !important;
    color: #fff !important;
    border: 1px solid #ff0000 !important;
    box-shadow: 5px 5px 15px #000 !important;
}

.tablebodytext {
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
}
