.button {

    &,
    &__success,
    &__medium,
    &__error {
        text-transform: uppercase;
        padding: 10px 15px;
        display: inline-block;
        font-size: 16px;
        color: $font_color;
        text-shadow: 1px 1px 2px $background_color;
        border: 1px solid $font_color;
        transition: $transition_time ease-in-out;

        &:hover {
            cursor: pointer;
        }
    }

    & {
        border: 1px solid $font_color;
        &:hover {
            color: $background_color;
            background-color: $font_color;
            text-shadow: none;
        }
        & [data-bubble-in],
        & [data-bubble-out] {
            background-color: $font_color;
        }
    }

    &__success {
        border: 1px solid $whatsapp;
        &:hover {
            background-color: $whatsapp;
        }
        & [data-bubble-in],
        & [data-bubble-out] {
            background-color: $whatsapp;
        }
    }

    &__medium {
        border: 1px solid $main_color;
        &:hover {
            background-color: $main_color;
        }
        & [data-bubble-in],
        & [data-bubble-out] {
            background-color: $main_color;
        }
    }

    &__error {
        border: 1px solid $main_color_reverse;
        &:hover {
            background-color: $main_color_reverse;
        }
        & [data-bubble-in],
        & [data-bubble-out] {
            background-color: $main_color_reverse;
        }
    }
}

.back-button {
    padding: 15px 15px 15px 80px;

    &::after,
    &::before {
        content: '';
        position: absolute;
        transition: $transition_time ease-in-out;
    }

    &::before {
        left: 15px;
        top: 20px;
        width: 9px;
        height: 9px;
        border-left: 1px solid $font_color;
        border-bottom: 1px solid $font_color;
        transform: rotate(45deg);
    }

    &::after {
        left: 14px;
        top: 24px;
        width: 60px;
        height: 1px;
        background-color: $font_color;
    }

    &:hover {
        background-color: $font_color;
        color: $font_color_reverse;
        transition: $transition_time ease-in-out;
        cursor: pointer;

        &::before {
            border-color: $font_color_reverse;
            transition: $transition_time ease-in-out;
        }

        &::after {
            background-color: $font_color_reverse;
            transition: $transition_time ease-in-out;
        }
    }

    &:first-child {
        margin-bottom: 15px;
    }

    &:last-child {
        margin-top: 15px;
    }
}