.detail1 {

    & > .container {
        max-width: 800px;
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        border: $border;
        background-color: $blackout_color;
        padding: 15px;
    }

    &__img {
        border: $border;
        // height: 300px;
    }

    &__description {
    }
}