.element {

    &__body {
        display: grid;
        gap: 80px;
        grid-template-columns: 1fr 1fr;
    }

    &__img {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-width: 600px;
        max-height: 900px;
        border: $border1;

        & img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
        
    }

    &__info {
        
    }

    &-title {
        font-size: 22px;
        margin-bottom: 15px;
        color: $font_color;
    }

    &__name {
        margin-top: 50px;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__description {

        &-title {
            font-size: 22px;
            margin-bottom: 15px;
            color: $font_color;
        }
    
        &-text {
            color: $font_color;
        }
    }

    

    &__properties {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid $border_color_medium;

        &-title {
            font-size: 22px;
            margin-bottom: 15px;
            color: $font_color;
        }
    
        &-sky {

            &-element {
                margin-bottom: 15px;
            }
        
            &-title {
                display: inline-block;
                margin-bottom: 10px;
                color: $font_color;
            }
        
            &-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
            }
        
            &-item {
                margin-bottom: 5px;
                padding: 5px;
                border: 2px solid $font_color;
                cursor: pointer;
                color: $font_color;
        
                &:not(:last-child) {
                    margin-right: 5px;
                }
        
                &.selected {
                    color: $font_color;
                    border: 2px solid $main_color;
                }
        
                &:hover:not(.selected) {
                    background-color: $font_color;
                    color: $font_color_reverse;
                }

                &-img {
                    height: 30px;
                    width: 30px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 70%;
            
                    &.selected {
                        border: 2px solid $main_color;
                    }
                }
            }
        }
    
        &-list {
        }
    
        &-item {
            display: flex;
            flex-direction: row;
        }
    
        &-name {
            flex: 0 0 auto;
            margin-right: 15px;
            color: $font_color;
        }
    
        &-value {
            flex: 1 0 auto;
            color: $font_color;
        }
    }

    

    &__buy-container {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid $border_color_medium;
    }

    &__buy-button {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid $font_color;
        text-transform: uppercase;
        color: $font_color;
    }

    &__buy-button:hover {
        background-color: $font_color;
        color: $font_color_reverse;
    }

    &__price {
        margin-bottom: 15px;

        &-now {
            font-weight: bold;
            font-size: 25px;
            color: $font_color;
        }
    
        &-old {
            margin-bottom: -5px;
    
            & > span {
                font-weight: bold;
                font-size: 15px;
                color: $font_color_medium;
                position: relative;
    
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    top: 9px;
                    left: 0;
                    background-color: $font_color_medium;
                }
            }
        }

        &-discount  {
            margin-top: -5px;
            font-weight: bold;
            font-size: 15px;
            color: $main_color_reverse;
                
        }
    }
}

@media (max-width: $c_width) {
    .element {
        &__body {
            gap: 60px;
        }
        &__name {
            margin-top: unset;
            font-size: 35px;
        }
    }
}
@media (max-width: $l_width) {
    .element {
        &__name {
            font-size: 28px;
        }
        &__body {
            gap: 30px;
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media (max-width: $m_width) {
    .element {
        &__img {
            margin: 0 auto;
        }
        &__name {
            font-size: 22px;
        }
        &__body {
            grid-template-columns: 1fr;
        }
    }
}
@media (max-width: $s_width) {

}