.footer {
    margin-top: $section_margin_bottom;
    & > .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
.phone {
    margin-bottom: 25px;
    opacity: 0.5;

    &:hover {
        text-decoration: underline;
    }

    & > i {
        margin-right: 10px;
    }
}
.logo {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80px;
}
