.form {
    &__body {
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
        padding: 60px;
        border: $border1;
        background-color: $background_color;
    }

    &__title {
        margin-bottom: 60px;
        text-align: center;
        text-transform: uppercase;
        font-size: 28px;
        color: $font_color;
    }

    &__list {
    }

    &__item {
        position: relative;
        color: $font_color;
        
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__message {
        color: $font_color_medium;
        
        & .notetext {
            color: $font_color_medium;
        }

        & .errortext {
            color: $main_color_reverse;
        }

        & .successtext {
            color: $main_color;
        }
    }

    &__note {
        color: $font_color_medium;
        & * {
            color: $font_color_medium;
        }
    }

    &__error {
        color: $main_color_reverse;
        & * {
            color: $main_color_reverse;
        }
    }

    &__success {
        color: $main_color;
        & * {
            color: $main_color;
        }
    }

    &__input {
        padding: 5px 0;
        border-bottom: $border1;
        width: 100%;
        color: $font_color;
    }

    &__button {
        border: $border1;
        padding: 10px 10px;
        text-transform: uppercase;
        cursor: pointer;
        color: $font_color;

        &:hover {
            background-color: $font_color;
            color: $font_color_reverse;
        }
    }

    &__link {
        color: $font_color;
        &:hover {
            color: $main_color;
        }
    }

    &__small {
        font-size: 12px;
        color: $font_color_medium;
    }

    &__checkbox {
        cursor: pointer;
        margin-right: 5px;
    }

    &__textarea {
        width: 100%;
        border-bottom: $border1;
        padding: 5px 0;
        resize: vertical;
        border-radius: none;
        outline: none;
        color: $font_color;
    }

    & [readonly] {
        color: $font_color_medium;
        border-color: $font_color_medium;
    }
}

@media (max-width: $m_width) {
    .form {
        &__title {
            font-size: 20px;
        }

        &__body {
            padding: 60px 30px;
        }
    }
}
@media (max-width: $s_width) {
    .form {
        &__title {
            font-size: 16px;
        }
        &__body {
            padding: 60px 15px;
        }
    }
}
