.form {
    &__body {
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
        padding: 60px;
        border: $border_white;
        background-color: $background_color;
    }

    &__title {
        margin-bottom: 60px;
        text-align: center;
        text-transform: uppercase;
        font-size: 28px;
        color: $font_color;
    }

    &__list {
    }

    &__item {
        position: relative;
        color: $font_color;
        
        &:not(:last-child) {
            margin-bottom: 30px;
        }

        & > label {
            position: absolute;
            left: 0;
            top: 5px;
            color: $font_color;
            z-index: 0;
            pointer-events: none;
            transition: $transition_time_mini ease-in-out;
        }

        & > input[type=checkbox] ~ label {
            left: 25px;
            top: 0;
        }

        & > input[type=text],
        & > input[type=password],
        & > textarea {
            width: 100%;
            border-bottom: $border_white;
            padding: 5px 0;
            z-index: 1;
            outline: none;
            border-radius: unset;
            transition: $transition_time_mini ease-in-out;

            &[readonly] {
                color: $font_color_medium !important;
                border-color: $font_color_medium !important;
            }
        }

        @mixin labelToTop {
            top: -10px;
            font-size: 10px;
            color: $font_color_medium;
        }
        
        & > input[type=text],
        & > input[type=password],
        & > textarea {
            &:focus {
                &,
                &::placeholder {
                    color: $font_color;
                }

                & ~ label {
                    @include labelToTop;
                }
            }
        }

        &[data-form-label] > input {
            &,
            &::placeholder {
                color: $font_color;
            }
        }

        &[data-form-label] > label {
            @include labelToTop;
        }

        & > textarea {
            resize: vertical;
        }
    }

    &__message {
        color: $font_color_medium;
        
        & .notetext {
            color: $font_color_medium;
        }

        & .errortext {
            color: $main_color_reverse;
        }

        & .successtext {
            color: $main_color;
        }
    }

    &__note {
        color: $font_color_medium;
        & * {
            color: $font_color_medium;
        }
    }

    &__error {
        color: $main_color_reverse;
        & * {
            color: $main_color_reverse;
        }
    }

    &__success {
        color: $main_color;
        & * {
            color: $main_color;
        }
    }

    &__button {
        border: $border_white;
        padding: 10px 10px;
        text-transform: uppercase;
        cursor: pointer;
        color: $font_color;

        &:hover {
            background-color: $font_color;
            color: $font_color_reverse;
        }
    }

    &__link {
        color: $font_color;
        &:hover {
            color: $main_color;
        }
    }

    &__small {
        font-size: 12px;
        color: $font_color_medium;
    }

    &__checkbox {
        cursor: pointer;
        margin-right: 5px;
    }
}

@media (max-width: $m_width) {
    .form {
        &__title {
            font-size: 20px;
        }

        &__body {
            padding: 60px 30px;
        }
    }
}
@media (max-width: $s_width) {
    .form {
        &__title {
            font-size: 16px;
        }
        &__body {
            padding: 60px 15px;
        }
    }
}
