.header {

    &:not(table){
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    &__body {
        display: flex;
        align-items: center;
    }

    &:not(table)::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $blackout_color;
        @include blur;
        z-index: -1;
        transition: $transition_time_mini ease-in-out;
        transition-delay: 0.25s;
    }

    .logo {
        display: inline-block;
        height: $header_height;
        display: block;
        width: 300px;

        &__file {
            object-position: center;
            width: 100%;
            height: 100%;
            object-fit: none;
        }

        &:hover {
            background-color: $main_color;
        }
    }
}

@media (max-width: $m_width) {
    .header {

        &[data-active]::after {
            height: 100vh;
            transition: $transition_time_mini ease-in-out;
        }

        &__body {
            border-bottom: 0px solid $transparent;
            // padding: 0 25px;
            justify-content: space-between;
            transition: $transition_time_mini ease-in-out;
            height: $header_height_mobile;
        }

        .logo {
            height: unset;
            width: unset;
            padding: 0 13px;
            height: 100%;
        }
    }
}