.header {
    height: $header_height;
    position: fixed;
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 0 15px 0 65px;
    z-index: 100;
    top: 0;
    left: 0;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $blackout_color;
        @include blur;
        z-index: -1;
        transition: $transition_time ease-in-out;
    }

    

    .logo {
        display: inline-block;
    }
}

@media (max-width: $m_width) {
    .header {
        &[data-active]::after {
            height: 100vh;
            transition: $transition_time ease-in-out;
        }
    }
}