.title {
    margin-top: $inner_title_margin;
    margin-bottom: 50px;

    &__text {
        text-transform: uppercase;
        position: relative;
        font-size: 30px;
    }
}

@media (max-width: $m_width) {
    .title {
        &__text {
            font-size: 22px;
        }
    }
}
