.list2 {

    &__body {
        
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    &__item {
        border: $border;
        background-color: $blackout_color;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 15px;
    }

    &__img {
        height: 250px;
    }

    &__info {
        padding: 15px;
    }

    &__name {
        margin-bottom: 30px;
        font-size: 24px;
    }

    &__description {
    }
}
@media (max-width: $c_width) {
    .list2 {
        &__item {
            grid-template-columns: 2fr 4fr;
        }
    }
}
@media (max-width: $l_width) {
    .list2 {
        &__item {
            grid-template-columns: 3fr 5fr;
        }
    }
}
@media (max-width: $m_width) {
    .list2 {
        &__item {
            grid-template-columns: 1fr;
        }
    }
}
@media (max-width: $s_width) {}