.list1 {

    &__body {
    }

    &__list {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(530px, auto);
    }

    &__item {
        position: relative;
        
        &-body {
            & > *:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &:hover &-body {
            position: absolute;
            left: -15px;
            top: -15px;
            background-color: $blackout_color;
            @include blur;
            padding: 15px;
            width: 100%;
            box-sizing: content-box;
            z-index: 1;

            & * {
                box-sizing: border-box;
            }
        }
    }

    &__img {
        display: block;
        border: 1px solid $font_color;
        height: 380px;
        overflow: hidden;

        &:hover {
            position: relative;
            &::before {
                content: attr(data-before-text);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $blackout_color_more;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $font_color;
                text-transform: uppercase;
                transition: $transition_time_mini ease-in-out;
            }
        }
    }

    &__name {
        display: block;
        font-size: 14px;
        color: $font_color;
    }

    &__properties {
        margin-top: 15px;

        &-title {
            font-size: 22px;
            margin-bottom: 15px;
        }
    
        &-sky {

            &-element {
                margin-bottom: 15px;
            }
        
            &-title {
                display: inline-block;
                margin-bottom: 10px;
                color: $font_color;
            }
        
            &-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
            }
        
            &-item {
                margin-bottom: 5px;
                padding: 5px;
                border: 2px solid $font_color;
                cursor: pointer;
                color: $font_color;
        
                &:not(:last-child) {
                    margin-right: 5px;
                }
        
                &.selected {
                    color: $font_color;
                    border: 2px solid $main_color;
                }

                &-img {
                    height: 30px;
                    width: 30px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 70%;
            
                    &.selected {
                        border: 2px solid $main_color;
                    }
                }
            }
        }
    }

    &__price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        & > *:not(:last-child) {
            margin-right: 10px;
        }

        &-now {
            font-weight: bold;
            font-size: 25px;
            color: $font_color;
        }
    
        &-old {
            & > span {
                font-weight: bold;
                font-size: 15px;
                color: $font_color_medium;
                position: relative;
    
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    top: 9px;
                    left: 0;
                    background-color: $font_color_medium;
                }
            }
        }
    }

    &__buy-button {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid $font_color;
        text-transform: uppercase;
        color: $font_color;

        &:hover {
            background-color: $font_color;
            color: $font_color_reverse;
        }
    }

}
@media (max-width: $c_width) {
    .list1 {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (max-width: $l_width) {
    .list1 {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: $m_width) {
    .list1 {
        &__item {
            &:hover &-body {
                position: initial;
                left: initial;
                top: initial;
                background-color: unset;
                backdrop-filter: blur(0);
                padding: unset;
                width: initial;
                box-sizing: border-box;
                z-index: 1;
            }

            &-hide {
                display: block;
            }
        }

        &__item:hover &__img {
            & > img {
                transform: scale(1);
            }
        }
    }
    
}
@media (max-width: $s_width) {
    .list1 {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
