.list2 {

    &__body {
        
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    &__item {
        border: 1px solid $font_color_medium;
        background-color: $blackout_color;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 15px;

        &:hover {
            border-color: $font_color;
        }

        &:hover &-info {
            &-name {
                text-decoration: underline;
            }
        }

        &-img {
            height: 250px;
    
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    
        &-info {
            padding: 15px;

            &-name {
                margin-bottom: 30px;
                font-size: 24px;
                color: $font_color;
            }
        
            &-description {
                color: $font_color;
            }
        }
    }
}
@media (max-width: $c_width) {
    .list2 {
        &__item {
            grid-template-columns: 2fr 4fr;
        }
    }
}
@media (max-width: $l_width) {
    .list2 {
        &__item {
            grid-template-columns: 3fr 5fr;
        }
    }
}
@media (max-width: $m_width) {
    .list2 {
        &__item {
            grid-template-columns: 1fr;
        }
    }
}
@media (max-width: $s_width) {}