.list2 {

    &__body {
        margin-top: 300px;
    }

    &__list {
    }

    &__item {
        border: $border;
        background-color: $blackout_color;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 15px;
        grid-auto-rows: minmax(200px, auto);
    }

    &__img {
        
    }

    &__info {
        padding: 15px;
    }

    &__name {
        margin-bottom: 30px;
        font-size: 24px;
    }

    &__description {
    }
}
