.sections-main {

    &__body {
        display: grid;
        gap: 75px;
        grid-template-columns: 1fr 1fr;
    }
    
    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    &__item {
        
    }

    &__link {
        display: block;
        border: $border;
        padding: 55px;
        font-size: 36px;
        text-transform: uppercase;
        background-color: $blackout_color;
        color: $font_color;

        &:hover {
            background-color: $lines_color;
            transition: $transition_time_mini ease-in-out;
        }
    }

    &__img {
        position: relative;

        & > img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: $c_width) {
    .sections-main {
        &__list {
            gap: 25px;
        }
        &__link {
            padding: 30px;
            font-size: 22px;
        }
    }
}
@media (max-width: $l_width) {
    
}
@media (max-width: $m_width) {
    .sections-main {
        &__body {
            grid-template-columns: 1fr;
        }
        &__img {
            display: none;
        }
        &__link {
            text-align: center;
        }
    }
}
@media (max-width: $s_width) {}