// Прижимаем футер
html,
body {
  height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

body *:not(.bx-core-window *, .bx-panel-tooltip *, i, #pickUpMap *, .order-confirm__file *) {
    // font-style: $font_style;
    font-family: $font_style;
    color: $font_color;
}

body {
    background-color: $background_color;
    background-size: 1920px;
    background-repeat: repeat-y;
    background-position: top;
}
@media (max-width: $l_width) {
    body {
        background-size: $l_width;
    }
}
@media (max-width: $m_width) {
    body {
        background-size: $m_width;
    }
}

// Изображения
.img {

    &__contain,
    &__cover {
        width: 100%;
        height: 100%;
        object-position: center;
    }
    
    &__contain {
        object-fit: contain;
    }
    
    &__cover {
        object-fit: cover;
    }
}

// Заголовки на главной
.main {
    & section {
        margin-bottom: $section_margin_bottom;
    }
    &__title {
        text-transform: uppercase;
        position: relative;
        margin-bottom: 80px;
        font-size: 40px;
    
        &::before {
            $width: 200px;
            content: '';
            opacity: 0.5;
            position: absolute;
            background-color: $font_color;
            width: $width;
            height: 2px;
            left: calc(($width + 20px) * -1);
            top: 50%;
        }
    }
}
@media (max-width: $l_width) {
    .main {
        &__title {
            &::before {
                left: 4px;
                top: unset;
                bottom: -36px;
                width: 50%;
            }
        }
    }
}
@media (max-width: $m_width) {
    .main {
        &__title {
            font-size: 30px;
        }
    }
}

.mda-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 1000px;
    background-image: url('../img/mda_background.svg');
    background-repeat: no-repeat;
    background-position: 50% 90px;
    background-size: 2500px;

}
@media (max-width: $c_width) {
    .mda-bg {
        background-size: 1800px;
    }
}
@media (max-width: $l_width) {
    .mda-bg {
        background-size: 1300px;
    }
}
@media (max-width: $m_width) {
    .mda-bg {
        background-size: 1000px;
    }
}
@media (max-width: $s_width) {
    .mda-bg {
        background-size: 800px;
    }
}