.mda-animate {
    position: relative;
    width: 217px;
    height: 72px;
    z-index: 1;

    @keyframes anaglyph {
        0% {
            left: 0;
            top: 0;
        }

        25% {
            left: $anaglyph_scale;
            top: $anaglyph_scale;
        }
      
        50% {
            left: 0;
            top: 0;
        }

        75% {
            left: -$anaglyph_scale;
            top: -$anaglyph_scale;
        }
        100% {
            left: 0;
            top: 0;
        }
    }

    &__w {
        z-index: 1;
    }

    &__r {
        z-index: -1;
        animation-direction: alternate;
    }

    &__b {
        z-index: -1;
        animation-direction: alternate-reverse;
    }

    &__r,
    &__b {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        animation-name: anaglyph;
        animation-duration: 2s;
        animation-timing-function: steps(2, end);
        animation-iteration-count: infinite;
    }
}
