.order-confirm {
    background-color: $background_color;
    border-style: solid;
    border-color: $font_color;
    border-width: 2px;
    padding: 15px;
    color: $font_color;

    & a {
        color: $main_color;
    }

    & .ps_logo > *:not(:last-child) {
        margin-bottom: 15px;
    }

    &__file {
        padding: 5px;
        background-color: $font_color;
    }

    &__file * {
        background-color: $background_color;
        color: $font_color;
    }
}