.order-confirm {
    background-color: $font_color;
    border: $border;
    padding: 5px;

    & a {
        color: $main_color;
    }

    & .ps_logo > *:not(:last-child) {
        margin-bottom: 15px;
    }

    &__file {
        padding: 5px;
        background-color: $font_color;
    }

    &__file * {
        color: #000;
    }
}