.personal-small {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    background-image: url('../img/person.png');
    background-size: 80%;
    background-position: 50% 10px;
    background-repeat: no-repeat;
    background-color: $background_color;
    border-radius: 30px;
    border: 2px solid $font_color;
    z-index: 10;

    &:hover {
        border: 2px solid $main_color;
    }
}

@media (max-width: $m_width) {
    .personal-small {
        right: 15px;
        bottom: 15px;
        width: 45px;
        height: 45px;
    }
}