.popup {

    &__button {
        padding: 10px 20px;
        border: 1px solid $font_color;
        color: $font_color;
        display: inline-block;
        cursor: pointer;

        &:hover {
            background-color: $font_color;
            color: $font_color_reverse;
        }
    }
}

.popup-window {
    background-color: $background_color;
    border: 1px solid $font_color;

    & * {
        color: $font_color;
    }
}
.popup-window-content {
    background-color: unset !important;
    padding: 15px !important;
    // border: $border;

    & img {
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    & p {
        margin-top: 15px;
        padding: 5px;
    }
}