// Цвета
$main_color: #0085FF;
$main_color_reverse: #ff2d2d;
$background_color: #15151B;
$blackout_color: rgba(0,0,0,0.5);
$blackout_color_more: rgba(0,0,0,0.9);
$font_color: #fff;
$font_color_reverse: #15151B;
$font_color_medium: #8A8A8A;
$lines_color: rgba(0,133,255,0.44);
$border_color_medium: #5F5F5F;
$whatsapp: #25d366;
$transparent: rgba(0,0,0,0);

// Шрифт
$font_style: 'Montserrat';

// Размеры экрана
$c_width: 1400px;
$l_width: 992px;
$m_width: 768px;
$s_width: 576px;

// Прочие настройки
$header_height: 56px;
$header_height_mobile: 56px;
$inner_title_margin: calc($header_height + 50px);
$transition_time: 500ms;
$transition_time_mini: 250ms;
$anaglyph_scale: 5px;
$section_margin_bottom: 100px;
$blur_intensive: 20px;
$border: 2px solid $lines_color;
$border1: 2px solid $font_color;
$popup_close_size: 30px;